<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Bienvenido a la encuesta de docente.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-guinda">
          <h5 class="card-title text-light mb-0">Instrucciones:</h5>
        </div>
        <table class="table mb-0">
          <tbody>
            <tr>
              <td>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate rerum numquam ut officiis, soluta doloribus obcaecati maxime nihil ducimus quasi laboriosam odio eaque illo provident harum molestias cumque atque sunt?
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-guinda text-light">
          <h5 class="mb-0">Contesta correctamente</h5>
        </div>
        <div class="ui-table-wrapper card-body table-responsive-md pt-0 pb-0">
          <table class="ui-table-big table text-center mb-0">
            <thead>
              <tr>
                <th>Totalmente en desacuerdo</th>
                <th>Parcialmente en desacuerdo</th>
                <th>Indiferente</th>
                <th>Parcialmente de acuerdo</th>
                <th>Totalmente de acuerdo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1 <input type="radio" disabled>
                </td>
                <td>
                  2 <input type="radio" disabled>
                </td>
                <td>
                  3 <input type="radio" disabled>
                </td>
                <td>
                  4 <input type="radio" disabled>
                </td>
                <td>
                  5 <input type="radio" disabled>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="ui-table-sm table text-center mb-0">
            <tbody>
              <tr>
                <th>Totalmente en desacuerdo</th>
              </tr>
              <tr>
                <td>
                  1 <input type="radio" disabled>
                </td>
              </tr>
              <tr>
                <th>Parcialmente en desacuerdo</th>
              </tr>
              <tr>
                <td>
                  2 <input type="radio" disabled>
                </td>
              </tr>
              <tr>
                <th>Indiferente</th>
              </tr>
              <tr>
                <td>
                  3 <input type="radio" disabled>
                </td>
              </tr>
              <tr>
                <th>Parcialmente de acuerdo</th>
              </tr>
              <tr>
                <td>
                  4 <input type="radio" disabled>
                </td>
              </tr>
              <tr>
                <th>Totalmente de acuerdo</th>
              </tr>
              <tr>
                <td>
                  5 <input type="radio" disabled>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-guinda" routerLink="/evaluacion">INICIAR</button>
    </div>
  </div>
</div>

