  <nav>
      <div class="titulo">
          <h1>
              Selección De Materias
          </h1>
      </div>
  
      <p id="pfo1"> 
          Aun no es tiempo de que selecciones materias.
      </p>
  
      <table>
          <thead>
            <tr>
            <th colspan="4"><h5 align="center">Horario de Reinscripción AGOSTO-DICIEMBRE/2018</h5>
            </th>
            </tr>
            
          </thead>
          <tbody>
          <tr>
              <td>Nombre</td>
              <td>Alejandro Marrufo Quintana</td>
          </tr>
          <tr>
              <td>Fecha</td>
              <td>18-Agosto-2018</td>
            </tr>
            <tr>
              <td>Hora</td>
              <td><i>10:40AM</i></td>
            </tr>
            <tr>
              <td>Autorizado</td>
              <td>S</td>
            </tr>
          </tbody>
        </table>
  
      <div class="contenido">
          <h3 id="HoraActual">
              Fecha y Hora Actual
          </h3>
  
          <p id="hora">
          </p>
  
          <p id="pfo2">
              Intentalo mas tarde.
          </p>
      </div>
  </nav>
  
  <div class="opciones">
      <button  routerLink="/inicio" type="button" name="button">Regresar</button>
      <button  routerLink="/seleccionMaterias" type="button" name="button">Continuar</button>
  
  </div>