/* 100% algot de ventava uvh*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
       box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/* position fixed siempre lo mantiene alli */
/* position lef rop mantiene siempre en la esquina */
/* z index siempre por delante de todo */


h5{
  margin-bottom: 10px;
}
/* 98 para tener un alinieamiento
margin auto para centrar*/
.contenedor{
width:98%;
margin: auto;
}
/* Margin bottom para espaciar  */


#bienvenidos{
  text-align: center;
}

.prueba{
  padding: 20px;
}

.menuSeleccionMaterias {
  background: white;

  width: 100%;

  top: 10px;
  transition: all 0.5s;
}

.materia {
  width: 100%;

  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
padding: 2px;
  margin: 0 auto;
  word-wrap: break-word;

}
.materiasmovil{
  position: fixed;
  background: red;
}


.dias {
  padding-left: 10%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.dias .infodia {
  width: 30%;
  padding: 5px 5px;
}

.estado {
  margin: 0 auto;
  width: 100%;
  border-radius: 12px;
  background: #83C8E3;
  padding: 1%;
}

.estado2 {
  background: white;
}

.menuSeleccionMaterias span {
  position: absolute;
  right: 10px;

}

.menuSeleccionMaterias .submenuSeleccionMaterias .expspan span{
  position: relative;
  right: 5px;
  top: 5px;
}
/*probemmas con margin*/
.menuSeleccionMaterias ul {
  background: white;
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  margin: 0px 0px;
}

.menuSeleccionMaterias a {

  font-size: 10px;
  border: none;
  display: block;
  padding:  20px;
  text-decoration: none;
  height: 40px;
  margin: 0 auto;
  border-right: 50px;

}

/*ayuda a jquery*/
.menuSeleccionMaterias ul li:hover ul {
  display: none;
  position: static;
}

.menuSeleccionMaterias ul li ul {
  display: none;
  width: 100%;
}

 .movil ul li:hover ul {
    display: block;
    position: static;
}

 .movil ul li ul {
   display: block;
    width: 100%;
}


.menuSeleccionMaterias ul li p {
  font-size: 14px;
  text-align: center;
}
.menuSeleccionMaterias ul li .NombreMateria  {
  width: 100%;
  font-size: 15px;
  text-align: center;
  height: auto;
  margin: 0 auto;
word-wrap: break-word;
  border: 6px solid #6A1A3E;
padding: 5px;
border-radius: 5px;
justify-content: center;
align-items: center;

}

.menuSeleccionMaterias ul li a {
  color: black;
  border-left: 6px solid #6A1A3E;
  background-color: white;
  text-align: center;
  font-size: 14px;

  padding-right:  70%;
  padding-top:  3%;
}
 .horarioseparacion{
  margin: 10px;
  padding: 10px;



}

  button {
  padding: 3px 3px;
  font-size: 9px;
  padding-bottom: 7px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #70193F;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}



/* Handle on hover */

.vertical {
  overflow-x: scroll;
  white-space: nowrap;

}

.containerSeleccionMaterias{
  display: none;
}


/*alt 126 tllde selecciona menu*/
#menu-bar:checked~.menuSeleccionMaterias {
  transform: translateX(0);
}
.horariodes{
width: 100%;

background-color: white;
text-align: center;
font-size: 14px;


}
.centarbtn{
  margin: 10px auto;
  width: 100%;
  height: 50px;
  display: flex;
 align-items: center;
 justify-content: center;
}
#btn-cancelar{
  margin-bottom: 2px;
}

.codcolores{
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

}

.codcolores .codcolor{
  margin: 0 auto;
  width: 30%;

height: 120px;
border-radius: 5px;
   height: 50px;
   border: 1px solid black;
    display: table;
    margin: 5px;

}
.codcolores .codcolor p {

  text-align:center;
    vertical-align: middle;
    display: table-cell;
  height: 25px;
  color: white;




}
.codigoColoresSM
{
margin: 30px;
}

.menuSeleccionMaterias h1
{
  font-size: 30px;
}

.menuSeleccionMaterias h4
{
  margin-bottom: 15px;
}



@media(min-width:780px)
{
  .containerSeleccionMaterias{
    display:inline;
  }
  .movil{
    display: none;
  }
  .menuSeleccionMaterias {

    width: 1000px;

    margin: 0 auto;
    position: relative;

  }

  .submenuSeleccionMaterias {
    width: 100%;
    height: 100%;

    margin: 0 auto;
    text-align: center;
  }


  .materia {
    width: 100%;
    display: block;
    margin: 0 auto;


  }

  .estado {
    width: 100%;

    word-wrap: break-word;
  }

  .menuSeleccionMaterias span {
    position: static;
    right: 10px;

  }

  .menuSeleccionMaterias ul  {
    display: flex;
    cursor: pointer;
  }

  .vertical {
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: visible;
    white-space: normal;
    margin: 0 auto;

  }

.vertical button{
  text-align: center;

}
.centarbtn button{
font-size: 14px;
 width: 200px;
  margin: 0 auto;
  height: 40px;
}
.menuSeleccionMaterias ul li a{
  padding: 0 0 0 0;
  padding-top: 10%;
}
.codcolores .codcolor{

  width: 10%;
 height: 80px;

}

}







/*modal */

.visibleNo {
  /* Hidden by default */
  display:block ;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* Modal Content */
.form {
  bottom: 0;
  background-color: #fefefe;
  width: 80%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15% auto;

}
.etiqueta{
  text-align: center;
}

.form table tr th, td {
  padding: 10px;

}


table {
  width: 100%;
  border-collapse: collapse;
}

.col-md-6{
  width: 100%;
  background: blue;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #70193f;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  font-size: 11px;
  text-align: center;
}




/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media(max-width:780px) {

  .modal {
    padding-left: 0;
    padding-top: 0;
  }

  .form {
    margin: 35% auto;
    padding-left: 0;
    border-radius: 0;
    width: 100%;
  }


th {
  background-color: #6F193F;
  color: white;
}

}
