<!DOCTYPE html>
<html>

<head>
  <title>Seeleccion materias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
</head>

<body>
  <main>
    <section class="registro">
      <div class="menuSeleccionMaterias">
        <app-datos-tabla-alumno></app-datos-tabla-alumno>
        <h1>Semestres</h1>
        <h4>Presiona semestre y desliza horizontalmente </h4>
        <ul>

          <li  class="submenuSeleccionMaterias">
            <a> Semestre 1<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[0]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>


              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 2<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[1]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>


              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 3<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[2]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 4<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[3]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 5<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[4]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 6<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[5]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 7<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[6]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 8<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[7]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>

              </li>
            </ul>
          </li>
          <li  class="submenuSeleccionMaterias">
            <a> Semestre 9<span class="icon-angle-down"> </span> </a>
            <ul>
              <li  class="vertical">
                <div *ngFor="let mats of ejemploMaterias.materiasSem[0].semestres[8]"   class="materia">
                  <div class="estado">

                    <p>Cd:{{mats.codigo}} </p>
                    <p>{{mats.nombre}}</p>
                    <p>Cr:{{mats.numeroCreditos}}</p>
                    <button type="button" name="button" class="myBtn" (click)="funcMostrarGrupos(mats)" >Seleccionar</button>
                  </div>

                </div>


              </li>
            </ul>
          </li>


        </ul>

        <div class="codigoColoresSM">
        <app-codigo-colores-materia></app-codigo-colores-materia>
        </div>

        <br>

        <h4>Materias Seleccionadas</h4>

        <h5>Presiona el recuadro para ver/eliminar materia</h5>

        <div class="containerSeleccionMaterias">

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">


                </div>

                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Materia / Docente</th>
                      <th>Grupo</th>
                      <th>Cr</th>
                      <th>LUNES</th>
                      <th>MARTES</th>
                      <th>MIERCOLES</th>
                      <th>JUEVES</th>
                      <th>VIERNES</th>
                      <th>SABADO</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let seleccionado of materiasSeleccionadas" class="">
                      <td>{{seleccionado.grupo.nombre}} {{seleccionado.maestro.nombre}}</td>
                      <td>{{seleccionado.maestro.grupo}}</td>
                      <td>{{seleccionado.maestro.numeroCreditos}}</td>

                      <td>{{seleccionado.maestro.horario.martes.hora}}     <br>{{seleccionado.maestro.horario.martes.salon}}    </td>
                      <td>{{seleccionado.maestro.horario.miercoles.hora}}  <br>{{seleccionado.maestro.horario.miercoles.salon}} </td>
                      <td>{{seleccionado.maestro.horario.jueves.hora}}     <br>{{seleccionado.maestro.horario.jueves.salon}}    </td>
                      <td>{{seleccionado.maestro.horario.viernes.hora}}    <br>{{seleccionado.maestro.horario.viernes.salon}}   </td>
                      <td>{{seleccionado.maestro.horario.viernes.hora}}    <br>{{seleccionado.maestro.horario.viernes.salon}}   </td>
                      <td><button type="button" id="btn-eliminar" (click)="  eliminarMateria(gpsdisp)" >Eliminar</button></td>
                    </tr>

                  </tbody>
                </table>


              </div>
            </div>

          </div>
        </div>




      </div>

      <div class="menuSeleccionMaterias movil ">
        <ul  class="">
          <li *ngFor="let seleccionado of materiasSeleccionadas" class="submenuSeleccionMaterias horarioseparacion ">
            <p class="NombreMateria">{{seleccionado.maestro.nombre}} {{seleccionado.grupo.nombre}} CR: {{seleccionado.maestro.numeroCreditos}} GPO: {{seleccionado.maestro.grupo}} </p>
            <ul>
              <li class="horariodes">
                <div class="materia">
                  <div class="dias">
                    <div class="infodia">
                      <p>Lunes</p>
                      <p>{{seleccionado.maestro.horario.lunes.hora}}</p>
                      <p>{{seleccionado.maestro.horario.lunes.salon}}</p>
                    </div>
                    <div class="infodia">
                      <p>Martes</p>
                      <p>{{seleccionado.maestro.horario.martes.hora}}</p>
                      <p>{{seleccionado.maestro.horario.martes.salon}}</p>
                    </div>
                    <div class="infodia">
                      <p>Miercoles</p>
                      <p>{{seleccionado.maestro.horario.miercoles.hora}}</p>
                      <p>{{seleccionado.maestro.horario.miercoles.salon}}</p>
                    </div>
                  </div>
                  <div class="dias">
                    <div class="infodia">
                      <p>Jueves</p>
                      <p>{{seleccionado.maestro.horario.jueves.hora}}</p>
                      <p>{{seleccionado.maestro.horario.jueves.salon}}</p>
                    </div>
                    <div class="infodia">
                      <p>Viernes</p>
                      <p>{{seleccionado.maestro.horario.viernes.hora}}</p>
                      <p>{{seleccionado.maestro.horario.viernes.salon}}</p>
                    </div>
                    <div class="infodia">
                      <p>Sabado</p>
                      <p>{{seleccionado.maestro.horario.sabado.hora}}</p>
                      <p>{{seleccionado.maestro.horario.sabado.salon}}</p>
                    </div>
                  </div>


                </div>
                <button  type="button"  (click)="  eliminarMateria(seleccionada)" >Eliminar</button>
              </li>
            </ul>
          </li>


        </ul>

      </div>
      <div class="centarbtn">
        <button routerLink="/preSeleccionMaterias" type="button" id="btn-guardar">

          Regresar
        </button>
        <button [routerLink]="['/postSeleccionMaterias']"
   [queryParams]="arregloMaterias"
   queryParamsHandling="merge">
          Guardar
        </button>
      </div>
    </section>

    <div id="myModal" class="{{modals}}">

      <!-- Modal content -->
      <div  class="form">
        <h4>
          Grupos disponibles {{materiaActual}}  Presiona para mostrar horario
        </h4>
        <form>
          <table>
            <tr>
              <th>Grupo</th>
              <th>Profesor Asignado</th>
              <th>Horario</th>
              <th>Lugares Disponibles</th>
              <th></th>
            </tr>


            <tr *ngFor="let gpsdisp of gpsDisponibles.maestros" class="">


              <td>{{gpsdisp.grupo}}</td>
              <td>{{gpsdisp.nombre}}</td>
              <td>{{gpsdisp.horario.lunes.hora}}</td>
              <td>{{gpsdisp.cupo}}</td>
              <td><button type="button" id="btn-seleccionar"  (click)="apilarSeleccion(gpsdisp,gpsDisponibles)">Seleccionar</button></td>
            </tr>





          </table>
        </form>
        <button id="btn-cancelar" (click)="cerrar()">Cancelar</button>
      </div>

    </div>

  </main>
</body>

</html>
