/**finaliza el css de la tabla de extraescolar seleccionada**/  

.row{
		    margin-top:20px;
        border-radius: 0px;

		}
		.clickable{
		    cursor: pointer;   
    }    

		.heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		
		#fondogrupos1{
			background: #70193F;
			border-color:#70193F;
		}
			#fondogrupos2{
			background: #70193F;		
		}
		#tablacontenedor{			
			border-color:black;
    }
/**finaliza el css de la tabla de extraescolar seleccionada**/    
