
	<!--===============empieza tabla de extra seleccionada=================0-->
	<table>
		<thead>
			<tr>
				<th colspan="7">
					<h5 align="center">Extraescolar Seleccionada</h5>
				</th>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td>Periodo</td>
				<td>Actividad</td>
				<td>Grupo</td>
				<td>Promotor</td>
				<td>H.Inicial </td>
				<td>H.Final </td>
				<td>Dias</td>
			</tr>
			<tr>
				<td>20183</td>
				<td>Ritmos Latinos </td>
				<td>RL</td>
				<td>GALINDO ZALDIVAR M.V. ISAAC ALEJANDRO </td>
				<td>01:00 </td>
				<td>02:00 </td>
				<td>L,Ma,Mi,J</td>
			</tr>

		</tbody>
	</table>

	<!--=========empieza tabla de avisos==========---------->
	<div class="accordionbox">

		<div>
			<h4>Extraescolares Culturales Disponibles </h4>
		</div>

		<div>
			<input id="tab" name="myaccordion" type="checkbox" />
			<label for="tab">BAILE</label>
			<div class="insidebox">
				<!--=========PRIMER CONTENEDOR DE EXTRA==========--->
				<div class="panel-body">
					<li (click)="func()">Ballet Tahitiano</li>
					<li (click)="func()">Bellydance Fusión</li>
					<li (click)="func()">Break Dance</li>
					<li (click)="func()">Danza Aérea </li>
					<li (click)="func()">Danza Árabe </li>
					<li (click)="func()">Electro Dance </li>
					<li (click)="func()">Hip Hop </li>
					<li (click)="func()">Hip Hop Avanzado </li>
					<li (click)="func()">Hip Hop Principiante </li>
					<li (click)="func()">Jazz </li>
					<li (click)="func()">Jazz Avanzado</li>
					<li (click)="func()">Jazz Principiante </li>
					<li (click)="func()">Popping Dance </li>
					<li (click)="func()">Ritmos Latinos </li>
					<li (click)="func()">Ritmos Urbanos</li>
					<li (click)="func()">Tango </li>
					<li (click)="func()">Danza Floklorica</li>
				</div>
			</div>
		</div>
		<!--=========PRIMER CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========SEGUNDO CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-two" name="myaccordion" type="checkbox" />
			<label for="tab-two">MÚSICA</label>
			<div class="insidebox">
				<li (click)="func()">Orquesta Filarmónica</li>
				<li (click)="func()">Orquesta Sinfónica </li>
				<li (click)="func()">Rondalla </li>
				<li (click)="func()">Rondalla Femenil </li>
				<li (click)="func()">Rondalla Varonil </li>
				<li (click)="func()">Rondalla Y Taller De Guitarra </li>
				<li (click)="func()">Taller Guitarra Popular </li>
				<li (click)="func()">Coro De Cámara </li>
			</div>
		</div>
		<!--=========SEGUNDO CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========TERCER CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-three" name="myaccordion" type="checkbox" />
			<label for="tab-three">ACTIVIDADES CIVICAS</label>
			<div class="insidebox">
				<li (click)="func()">Banda De Guerra</li>
				<li (click)="func()">Edecanes </li>
				<li (click)="func()">Escolta y guión</li>
				<li (click)="func()">Grupo Cívico</li>
				<li (click)="func()">Oratoria </li>
			</div>
		</div>
		<!--=========TERCER CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========CUARTO CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-four" name="myaccordion" type="checkbox" />
			<label for="tab-four">DIFUSION Y TEATRO</label>
			<div class="insidebox">
				<li (click)="func()">Periodismo</li>
				<li (click)="func()">Radio</li>
				<li (click)="func()">Taller De Arte Literario</li>
				<li (click)="func()">Teatro</li>
				<li (click)="func()">Teatro y Pantomima </li>
			</div>
		</div>
		<!--=========CUARTO CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========QUINTO CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-five" name="myaccordion" type="checkbox" />
			<label for="tab-five">VISUALES</label>
			<div class="insidebox">
				<li (click)="func()">Taller De Cinematografía </li>
				<li (click)="func()">Taller de Fotografía y Dibujo </li>
				<li (click)="func()">Cine Y Cortometraje</li>
			</div>
		</div>
		<!--=========QUINTO CONTENEDOR DE EXTRA TERMINA==========--->

	</div>
	<!--=========termina tabla de avisos==========--->
<br>
	<!--=========empieza SEGUNDA tabla de avisos==========---------->
	<div class="accordionbox">

		<div>
			<h4>Extraescolares Deportivas Disponibles </h4>
		</div>

		<div>
			<input id="tab-six" name="myaccordion" type="checkbox" />
			<label for="tab-six">PELOTA</label>
			<div class="insidebox">
				<!--=========PRIMER CONTENEDOR DE EXTRA==========--->
				<div class="panel-body">
					<li (click)="func()">Balón Mano</li>
					<li (click)="func()">Balón Mano Femenil</li>
					<li (click)="func()">Basquetbol Femenil</li>
					<li (click)="func()">Basquetbol Varonil</li>
					<li (click)="func()">Beisbol</li>
					<li (click)="func()">Frontón A Mano</li>
					<li (click)="func()">Fútbol Americano</li>
					<li (click)="func()">Fútbol Rapido</li>
					<li (click)="func()">Fútbol Rápido Femenil</li>
					<li (click)="func()">Fútbol Soccer Varonil</li>
					<li (click)="func()">Hand Ball</li>
					<li (click)="func()">Hockey Sobre Pasto</li>
					<li (click)="func()">Ping Pong De Mesa</li>
					<li (click)="func()">Softbol</li>
					<li (click)="func()">Tenis</li>
					<li (click)="func()">Tenis De Mesa</li>
					<li (click)="func()">Tochito</li>
					<li (click)="func()">Tochito Femenil</li>
					<li (click)="func()">Voleibol De Playa</li>
					<li (click)="func()">Voleibol De Playa Femenil</li>
					<li (click)="func()">Voleibol De Playa Varonil</li>
					<li (click)="func()">Voleibol Femenil</li>
					<li (click)="func()">Voleibol Varonil</li>
					<li (click)="func()">Fortalecimiento Y Tonicidad En Frontenis</li>
				</div>

			</div>
		</div>
		<!--=========PRIMER CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========SEGUNDO CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-seven" name="myaccordion" type="checkbox" />
			<label for="tab-seven">ACTIVIDADES FISICAS</label>
			<div class="insidebox">
				<li (click)="func()">Activacion Fisica</li>
				<li (click)="func()">Actividad Fisica</li>
				<li (click)="func()">Aero Figth</li>
				<li (click)="func()">Aerobics</li>
				<li (click)="func()">Animacion Deportiva</li>
				<li (click)="func()">Artes Marciales Europeas Histó</li>
				<li (click)="func()">Atletismo Femeni</li>
				<li (click)="func()">Atletismo Varonil</li>
				<li (click)="func()">Box</li>
				<li (click)="func()">Gimnasia Artística</li>
				<li (click)="func()">Hiit Workout</li>
				<li (click)="func()">Insanity</li>
				<li (click)="func()">Judo</li>
				<li (click)="func()">Karate Do</li>
				<li (click)="func()">Pesas</li>
				<li (click)="func()">Porristas</li>
				<li (click)="func()">Tae Kwon Do</li>
				<li (click)="func()">Yoga</li>
				<li (click)="func()">Yoga Dinamico</li>
				<li (click)="func()">Yoga Iyengar</li>
				<li (click)="func()">Yoga Meditativo</li>
				<li (click)="func()">Zumba</li>
			</div>
		</div>
		<!--=========SEGUNDO CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========TERCER CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-eight" name="myaccordion" type="checkbox" />
			<label for="tab-eight">NATACION</label>
			<div class="insidebox">
				<li (click)="func()">Natacion Femenil</li>
				<li (click)="func()">Natacion Varonil</li>
				<li (click)="func()">Natación</li>
			</div>
		</div>
		<!--=========TERCER CONTENEDOR DE EXTRA TERMINA==========--->

		<!--=========CUARTO CONTENEDOR DE EXTRA==========--->
		<div>
			<input id="tab-nine" name="myaccordion" type="checkbox" />
			<label for="tab-nine">AJEDREZ, ELECTRONICOS Y ARCO</label>
			<div class="insidebox">
				<li (click)="func()">Ajedrez</li>
				<li (click)="func()">Ajedrez Paralelo</li>
				<li (click)="func()">Deportes Electrónicos</li>
				<li (click)="func()">Tiro Con Arco</li>
			</div>
		</div>
		<!--=========CUARTO CONTENEDOR DE EXTRA TERMINA==========--->

	</div>
	<!--=========termina SEGUNDA tabla de avisos==========--->



	<!--=========empieza el modal==========--->
	<div id="myModal" class="{{modals}}">

		<!-- Modal content -->
		<div class="form">
			<h4>
				Grupos disponibles "nombre extraescolar" Presiona para mostrar horario
			</h4>
			<form>
				<table id="tablaModal">
					<tr>
						<th>Grupo</th>
						<th>Promotor</th>
						<th>H.Inicial</th>
						<th>H.Final</th>
						<th>Dias</th>
						<th>Lugares Disponibles</th>
						<th></th>
					</tr>
					<tr>
						<td>RL</td>
						<td>ISAAC GALINDO ZALDIVAR</td>
						<td>13:00</td>
						<td>14:00</td>
						<td>L,MA,MI,J</td>
						<td>20</td>
						<td><button id="btn-seleccionar" (click)="cerrar()">Seleccionar</button></td>
					</tr>
					<tr>
						<td>1B</td>
						<td>ANTONIO GARCIA GARCIA</td>
						<td>11:00</td>
						<td>12:00</td>
						<td>L,MA,MI,J</td>
						<td>15</td>
						<td><button id="btn-seleccionar2" (click)="cerrar()">Seleccionar</button></td>
					</tr>
					<tr>
					</tr>
				</table>
			</form>
			<button id="btn-cancelar" (click)="cerrar()">Cancelar</button>
		</div>

	</div>

	<!--=========termina el modal==========--->
