<!--==============links de la tabla de hora===============-->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<body>

		<div class="container">
				<div class="row">
				<div class="col">
				  <div class="card">
					<div class="card-body">
					  <table class="table">
						<thead>
						  <tr>
							<th scope="col">Periodo</th>
							<th scope="col">Actividad</th>
							<th scope="col">Grupo</th>
							<th scope="col">Promotor</th>
							 <th scope="col">H.Inicial</th>
							<th scope="col">H.Final</th>
							<th scope="col">Dias</th>                  
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>20183</td>
							<td>Ritmos Latinos	</td>                    
							<td>RL</td>
							<td>GALINDO ZALDIVAR M.V. ISAAC ALEJANDRO</td>
							<td>01:00</td>
							<td>02:00</td>
							<td>L,Ma,Mi,J</td>
						  </tr>                   
						</tbody>
					  </table>
					</div>
				  </div>
				</div>
			  </div>
			 </div>


</body>
