<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


<body>
  <!--===============empieza tabla de horario==============-->
	<div class="container">
    	<div class="row" >
			<div class="row col-md-8 col-md-push-3" >
				<div class="panel panel-primary" id="tablacontenedor">
					<div class="panel-heading" id="fondogrupos1">
						<h3 class="panel-title" align="center">
              Extraescolar seleccionada</h3>
					</div>

					<table class="table table-hover" id="dev-table" >
						<thead>
							<tr >
								<td>Periodo</td>
								<td>Actividad</td>
								<td>Grupo</td>
                <td>Promotor</td>
                <td>Horario</td>
                <td>Días</td>
							</tr>
						</thead>
						<tbody>
							<tr align="center">
                  <tr>
								<td>20183</td>
								<td>Ritmos Latinos</td>
								<td>RL</td>
                <td>GALINDO ZALDIVAR M.V. ISAAC ALEJANDRO	</td>
                <td>14:00-15:00</td>
                <td>L,Ma,Mi,J</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
    	</div>
		</div>
<!--============finaliza tabla horario=================-->


  <div class="multi-level">
    <div class="item">
      <input type="checkbox" id="culturales" class="check" />
      <label for="culturales" class="actividades">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">
        </span> Actividades Culturales</label>
      <ul>
        <li>
          <div class="sub-item">
            <input type="checkbox" id="baile" class="check" />
            <label for="baile" class="item">BAILE</label>
            <ul>
                <li (click)="func()">Ballet Tahitiano</li>
                <li (click)="func()">Bellydance Fusión</li>
                <li (click)="func()">Break Dance</li>
                <li (click)="func()">Danza Aérea </li>
                <li (click)="func()">Danza Árabe </li>
                <li (click)="func()">Electro Dance </li>
                <li (click)="func()">Hip Hop </li>
                <li (click)="func()">Hip Hop Avanzado </li>
                <li (click)="func()">Hip Hop Principiante </li>
                <li (click)="func()">Jazz </li>
                <li (click)="func()">Jazz Avanzado</li>
                <li (click)="func()">Jazz Principiante </li>
                <li (click)="func()">Popping Dance </li>
                <li (click)="func()">Ritmos Latinos </li>
                <li (click)="func()">Ritmos Urbanos</li>
                <li (click)="func()">Tango </li>
                <li (click)="func()">Danza Floklorica</li>

            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="musica" class="check" />
            <label for="musica" class="item">MUSICA</label>
            <ul>
                <li (click)="func()">Orquesta Filarmónica</li>
                <li (click)="func()">Orquesta Sinfónica </li>
                <li (click)="func()">Rondalla </li>
                <li (click)="func()">Rondalla Femenil </li>
                <li (click)="func()">Rondalla Varonil </li>
                <li (click)="func()">Rondalla Y Taller De Guitarra </li>
                <li (click)="func()">Taller Guitarra Popular </li>
                <li (click)="func()">Coro De Cámara </li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="civicas" class="check" />
            <label for="civicas" class="item">ACTIVIDADES CIVICAS</label>
            <ul>
                <li (click)="func()">Banda De Guerra</li>
                <li (click)="func()">Edecanes </li>
                <li (click)="func()">Escolta y guión</li>
                <li (click)="func()">Grupo Cívico</li>
                <li (click)="func()">Oratoria </li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="difteatro" class="check" />
            <label for="difteatro" class="item">DIFUSION Y TEATRO</label>
            <ul>
                <li (click)="func()">Periodismo</li>
                <li (click)="func()">Radio</li>
                <li (click)="func()">Taller De Arte Literario</li>
                <li (click)="func()">Teatro</li>
                <li (click)="func()">Teatro y Pantomima </li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="visuales" class="check" />
            <label for="visuales" class="item">VISUALES</label>
            <ul>
                <li (click)="func()">Taller De Cinematografía </li>
                <li (click)="func()">Taller de Fotografía y Dibujo </li>
                <li (click)="func()">Cine Y Cortometraje</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>


    <div class="item">
      <input type="checkbox" id="deportivas" class="check" />
      <label for="deportivas" class="actividades">
          <span class="glyphicon glyphicon-certificate" aria-hidden="true">
          </span> Actividades Deportivas</label>
      <ul>
        <li>
          <div class="sub-item">
            <input type="checkbox" id="pelota" class="check" />
            <label for="pelota" class="item">PELOTA</label>
            <ul>
                <li (click)="func()">Balón Mano</li>
                <li (click)="func()">Balón Mano Femenil</li>
                <li (click)="func()">Basquetbol Femenil</li>
                <li (click)="func()">Basquetbol Varonil</li>
                <li (click)="func()">Beisbol</li>
                <li (click)="func()">Frontón A Mano</li>
                <li (click)="func()">Fútbol Americano</li>
                <li (click)="func()">Fútbol Rapido</li>
                <li (click)="func()">Fútbol Rápido Femenil</li>
                <li (click)="func()">Fútbol Soccer Varonil</li>
                <li (click)="func()">Hand Ball</li>
                <li (click)="func()">Hockey Sobre Pasto</li>
                <li (click)="func()">Ping Pong De Mesa</li>
                <li (click)="func()">Softbol</li>
                <li (click)="func()">Tenis</li>
                <li (click)="func()">Tenis De Mesa</li>
                <li (click)="func()">Tochito</li>
                <li (click)="func()">Tochito Femenil</li>
                <li (click)="func()">Voleibol De Playa</li>
                <li (click)="func()">Voleibol De Playa Femenil</li>
                <li (click)="func()">Voleibol De Playa Varonil</li>
                <li (click)="func()">Voleibol Femenil</li>
                <li (click)="func()">Voleibol Varonil</li>
                <li (click)="func()">Fortalecimiento Y Tonicidad En Frontenis</li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="fisicas" class="check" />
            <label for="fisicas" class="item">ACTIVIDADES FISICAS</label>
            <ul>
                <li (click)="func()">Activacion Fisica</li>
                <li (click)="func()">Actividad Fisica</li>
                <li (click)="func()">Aero Figth</li>
                <li (click)="func()">Aerobics</li>
                <li (click)="func()">Animacion Deportiva</li>
                <li (click)="func()">Artes Marciales Europeas Histó</li>
                <li (click)="func()">Atletismo Femeni</li>
                <li (click)="func()">Atletismo Varonil</li>
                <li (click)="func()">Box</li>
                <li (click)="func()">Gimnasia Artística</li>
                <li (click)="func()">Hiit Workout</li>
                <li (click)="func()">Insanity</li>
                <li (click)="func()">Judo</li>
                <li (click)="func()">Karate Do</li>
                <li (click)="func()">Pesas</li>
                <li (click)="func()">Porristas</li>
                <li (click)="func()">Tae Kwon Do</li>
                <li (click)="func()">Yoga</li>
                <li (click)="func()">Yoga Dinamico</li>
                <li (click)="func()">Yoga Iyengar</li>
                <li (click)="func()">Yoga Meditativo</li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="natacion" class="check" />
            <label for="natacion" class="item">NATACION</label>
            <ul>
                <li (click)="func()">Natacion Femenil</li>
                <li (click)="func()">Natacion Varonil</li>
                <li (click)="func()">Natación</li>
            </ul>
          </div>
        </li>

        <li>
          <div class="sub-item">
            <input type="checkbox" id="AEA" class="check" />
            <label for="AEA" class="item">AJEDREZ, ELECTRONICOS Y ARCO</label>
            <ul>
                <li (click)="func()">Ajedrez</li>
                <li (click)="func()">Ajedrez Paralelo</li>
                <li (click)="func()">Deportes Electrónicos</li>
                <li (click)="func()">Tiro Con Arco</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div id="myModal" class="{{modals}}">

    <!-- Modal content -->
    <div class="form">
        <div class="panel-heading" id="fondogrupos1">
						<th class="panel-title" align="center">
              Grupos disponibles de "Extraescolar"</th>
					</div>
      <form>
        <table>
          <tr>
            <th>Grupo</th>
            <th>Promotor</th>
            <th>H.Inicial</th>
            <th>H.Final</th>
            <th>Dias</th>
            <th>Lugares Disponibles</th>
            <th></th>
          </tr>
          <tr>
            <td>RL</td>
            <td>ISAAC GALINDO ZALDIVAR</td>
            <td>13:00</td>
            <td>14:00</td>
            <td>L,MA,MI,J</td>
            <td>20</td>
            <td><button type="button" id="btn-seleccionar" (click)="cerrar()">Seleccionar</button></td>
          </tr>
          <tr>
            <td>1B</td>
            <td>ANTONIO GARCIA GARCIA</td>
            <td>11:00</td>
            <td>12:00</td>
            <td>L,MA,MI,J</td>
            <td>15</td>
            <td><button type="button" id="btn-seleccionar2" (click)="cerrar()">Seleccionar</button></td>
          </tr>
          <tr>
          </tr>
        </table>
      </form>
      <button id="btn-cancelar" (click)="cerrar()">Cancelar</button>
    </div>

  </div>






</body>
