h4
{
	font-size: 17px;
	font-family: 'Times New Roman', Times, serif;

}
.bg-guinda {
	background-color: #70193f;
}

.btn-guinda {
	color: #fff;
	background-color: #70193f;
	border-color: #70193f;
}

.ui-table-wrapper {
	display: block;
	position: relative;
}

.ui-table-wrapper{
	border: 1px solid #70193f;
	
}
	tr:nth-last-child(even){
		background-color:#eee; 
	}
	tr:hover td{
		background-color: #eee;
	}
	
.ui-tbody-sm {
	display: none;
}

.card	{
	margin: 60px 0;
}

.ui-custom-row {
	margin: 28px 0 70px;
}

th,td{
	padding: 0 !important;
}
@media (max-width: 720px) {
	.ui-tbody-big {
		display: n
		one;
	}

	.ui-table-wrapper {
		padding: 0;
	}

	h4 {
		font-size: 17px;
	}

	th, td {
		white-space: nowrap;
		font-size: 10px;
		padding: 7px;
	}

	.ui-tbody-sm {
		display: initial;
	}	
}
