
  
  
  
 
  
  .menuDatosEscolares ul {
    background: white;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin: 0px auto;
    width: 70%;
  }
  
  .menuDatosEscolares a {
    border: none;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
  }
  
  .menuDatosEscolares ul li:hover ul {
    display: none;
    position: static;
  }
  
  .menuDatosEscolares ul li ul {
    display: none;
    width: 100%;
  }
  
  .menuDatosEscolares ul li p {
    font-size: 9px;
    text-align: center;
    overflow-wrap: break-word;
  }
  
  .menuDatosEscolares ul li a {
    color: black;
    border-left: 6px solid #6A1A3E;
    background-color: white;
  }

  
  @media(min-width:780px) {
    .menuDatosEscolares {
      width: 1000px;
      height: 80%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }
  
  
  
    .menuDatosEscolares ul {
      display: flex;
    }
  
    .menuDatosEscolares ul li p {
      font-size: 15px;
    }
  
  
  }
  
  .contenedorDatosEscolares {
    width: 800px;
    background: #70193f;
  
    border: 200PX;
  }
  
  @media (min-width:100px) {
    
    .contenedorDatosEscolares {
      width: 70%;
      min-width: 100%;
      max-width: 100%;
      background:#70193f;
      font-size: 15px;
    }
  
    .meniuDatosEscolares {
      margin: 0 auto;
      width: 100%;
      height: 40%;
    
    }
  
    .meniuDatosEscolares ul {
    
      margin: 0 auto;
      width: 100%;
      background: white;
     padding-left: 5px;
    }
    
  }
  
  h3 {
    display: block;
    font-size: 18px;
    margin-block-start:0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #70193f;
    text-align: center;
    color: white;
  }
  
  
  
  
  
  .meniuDatosEscolares {
    margin: 0 auto;
    width: 100%;
    height: 40%;
    background: white;
  }
  
  .meniuDatosEscolares ul {
    
    justify-content: center;
    text-align: center;
    list-style: none;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  
  .meniuDatosEscolares ul li {
    padding: 1px;
    width: 33%;
    color: black;
  
  }
  
  .submeniuDatosEscolares ul li {
    width: 100%;
    background: white;
    
  }
  
  .submeniuDatosEscolares #titulo {
    background-color: #70193f;
    color: white;
    font-weight: bold;
  }
  
  @media (max-width:1000px){
    h3{
      font-size: 12px;
    }
  }