


h2,
.h2 {
  font-size: 1.2rem;
}



.card {
  
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger {
  display: none
}

.tablecp {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid black;
  border-radius: .25rem;
  -moz-border-radius: .25rem;
  	-webkit-border-radius: .25rem;
  
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #70193f;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  text-align: center;
}

@media all and (max-width:500px) {

  .tablecp,
  thead,
  tbody,
  th,
  td,
  tr {
    font-size: 7px;
  }
  .card-body{
    padding:.5rem;
  }

  tr {
    margin-bottom: 10px
  }
  h2{
    font-size: 12px;
  }
  .containercp{
    width: 1000px;
  }
}



#tablecp th {
  background: #70193f;
  color: white;
  font-weight: bold;
}





td,
th {
  padding: 6px;
  text-align: center;
}
