<div class="menu">
  <div class="contenedor">
<div class="meniu">
  <h3>Datos del alumno</h3>
  <ul>
    <li class="submeniu" id="control">
      <p id="titulo">No.control s.e.p </p>
      <p>14041413</p>
    </li>
    <li class="submeniu">
      <p id="titulo">Nombre Alumno</p>
      <p>Valenzuela Valdez Alma Teresa </p>
    </li>
    <li class="submeniu" id="control">
      <p id="titulo">Periodo esocolar </p>
      <p>Ago-Dic 2018</p>
    </li>
    <li class="submeniu">
      <p id="titulo">Promedio Aritmético</p>
      <p>100.00</p>
    </li>
    
      
  </ul>
  <ul>
    <li class="submeniu">
        <p id="titulo"> Carrera</p>
        <p>Ing.en Tecnologias de la Información y Comunicación</p>
      </li>
      <li class="submeniu">
        <p id="titulo"> Especialidad</p>
        <p>Tecnologías web</p>
      </li>
      <li class="submeniu">
        <p id="titulo"> CURP</p>
        <p>VAVADGO961584282DD2D</p>
      </li>
  </ul>
</div>
</div>
</div>