
<div class="menu">
  <div class="contenedor">
    <div class="meniu">
      <h3>Datos del alumno</h3>
      <ul>
        <li class="submeniu" id="control">
          <p id="titulo">No. Control S.E.P </p>
          <p>14041413</p>
        </li>
        <li class="submeniu">
          <p id="titulo">Nombre Alumno</p>
          <p>Valenzuela Valdez Alma Teresa </p>
        </li>
        <li class="submeniu" id="control">
          <p id="titulo">Periodo Esocolar </p>
          <p>Ago-Dic 2018</p>
        </li>
        <li class="submeniu">
          <p id="titulo">Promedio</p>
          <p>100.00</p>
        </li>


      </ul>
      <ul>
        <li class="submeniu">
          <p id="titulo"> Carrera</p>
          <p>Ing. en Tecnologias de la Información y Comunicación</p>
        </li>
        <li class="submeniu">
          <p id="titulo"> Especialidad</p>
          <p>Tecnologías web</p>
        </li>
        <li class="submeniu">
          <p id="titulo"> CURP</p>
          <p>VAVADGO961584282DD2D</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>Calificaciones Parciales</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Materia / Docente</th>
                <th scope="col">Gpo</th>
                <th colspan="10">Unidades</th>



              </tr>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">I</th>
                <th scope="col">II</th>
                <th scope="col">III</th>
                <th scope="col">IV</th>
                <th scope="col">V</th>
                <th scope="col">VI</th>
                <th scope="col">VII</th>
                <th scope="col">VIII</th>
                <th scope="col">IX</th>
                <th scope="col">X</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cálculo Integral / Jane Doe</td>
                <td>3TA</td>

                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>

              </tr>
              <tr>
                <td>Programación II / Juan Pacheco</td>
                <td>3TA</td>

                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
              </tr>
              <tr>
                <td>Estadística / Lorenzo Duarte</td>
                <td>3TA</td>

                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
              </tr>
              <tr>
                <td>Negocios Electrónicos / Cuauhtli Williams</td>
                <td>3TA</td>

                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</div>
