<p>
  datos-escolares si funciona, y parece que bajaste los cambios correctamente!
</p>
<section class="registro">

  <div class="menu">
    <div class="contenedor">
  <div class="meniu">
    <h3>Datos del alumno</h3>
    <ul>
      <li class="submeniu" id="control">
        <p id="titulo">No.control s.e.p </p>
        <p>14041413</p>
      </li>
      <li class="submeniu">
        <p id="titulo">Nombre Alumno</p>
        <p>VALENZUELA VALDEZ ALMA TERESA </p>
      </li>
      <li class="submeniu" id="control">
        <p id="titulo">Periodo esocolar </p>
        <p>AGO-DIC 2018</p>
      </li>
      <li class="submeniu">
        <p id="titulo">Promedio</p>
        <p>100.00</p>
      </li>
    
        </ul>
    
    <ul>
      <li class="submeniu">
          <p id="titulo"> Carrera</p>
          <p>Ing.en tecnologias de la información y comunicación</p>
        </li>
        <li class="submeniu">
          <p id="titulo"> Especialidad</p>
          <p>Tecnologías web</p>
        </li>
        <li class="submeniu">
          <p id="titulo"> CURP</p>
          <p>VAVADGO961584282DD2D</p>
        </li>
    </ul>
  </div>

</div>
</div>
</section>
<section class="registro" id="registro1">
    <div class="menu">
      <h2>Semestres</h2>
      <p>Presiona semestre y desliza horizontalmente </p>
      <ul>

        <li class="submenu">
          <a> Semestre 1<span class="demo-icon icon-arrow"> </span> </a>
          <ul>
            <li class="vertical">
              <div class="materia">
                <div class="estado">
                  <p>Calculo diferencial</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>
                </div>

              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>

            </li>
          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>
            <li class="vertical">
              <div class="materia">
                <div class="estado">
                  <p>Calculo diferencial</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>
                </div>

              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>
              <div class="materia">
                <div class="estado">
                  <p>Programacion orientada a los objets texto largo</p>
                  <p>Numero creditos</p>
                  <button type="button" name="button" class="myBtn" onclick="myFunction()">Seleccionar</button>

                </div>
              </div>



            </li>
          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>
        <li class="submenu">
          <a> Semestre 21<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>

        <li class="submenu">
          <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
          <ul>

          </ul>
        </li>

      </ul>
</div>


</section>