<app-datos-alumno></app-datos-alumno>
 

  <div class="menu">
    <h2>Semestres</h2>
    <p>Presiona semestre y desliza horizontalmente </p>
    <ul>

      <li class="submenu">
        <a> Semestre 1<span class="demo-icon icon-arrow"> </span> </a>
        <ul>
          <li class="vertical">
            <div class="materia">
              <div class="estado">
                <p>Calculo diferencial</p>
                <p>Numero creditos</p>
                
              </div>

            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>

          </li>
        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>
          <li class="vertical">
            <div class="materia">
              <div class="estado">
                <p>Calculo diferencial</p>
                <p>Numero creditos</p>
                
              </div>

            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>
            <div class="materia">
              <div class="estado">
                <p>Programacion orientada a los objets texto largo</p>
                <p>Numero creditos</p>
                

              </div>
            </div>



          </li>
        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a h> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>
      <li class="submenu">
        <a> Semestre 2<span class="demo-icon icon-arrow"> </span> </a>
        <ul>

        </ul>
      </li>

    </ul>

  <p id="p2"></p>
   <app-tabla-horario></app-tabla-horario>

</div> <!--cerrando primer bloque-->
