<header>
  <div class="menu_bar">
    <a class="bt-menu"><span class="icon-bars"></span></a>
  </div>

  <div class="textoITD">
    <p>Instituto Tecnológo De Durango</p>
  </div>

  <div class="logo">
    <img src="img/logo_itd.png">
  </div>

  <nav>
    <ul>

      <li class="submenu2"> <a class="negrita"><span class="icon-graduation-cap"></span> Informacion Escolar<span class="caret icon-chevron-down"></span></a>
        <ol class="children">
          <li><a  class="sombreado">Datos Escolares</a></li>
          <li><a  class="sombreado">Verificacion De Datos</a></li>
          <li><a  class="sombreado">Boleta De Calificaciones</a></li>
          <li><a  class="sombreado">Avance Reticular</a></li>
          <li><a  class="sombreado">Kardex De Calificaciones</a></li>
          <li><a  class="sombreado">Horario</a></li>
          <li><a  class="sombreado">Califi De Exam Globales o Especiales</a></li>
          <li><a  class="sombreado">Calificaciones Parciales</a></li>
          <li><a  class="sombreado">Residencia</a></li>
          <li><a  class="sombreado">Formatos Alumnos</a></li>

          <li class="submenu2"><a class="sombreado">Tutorias<span class="caret icon-caret-down"></span></a>
            <ul class="children">
              <li><a><span class="icon-angle-double-right"></span>Acerca Del Tutor</a></li>
              <li><a><span class="icon-angle-double-right"></span>Entrevista Inicial</a></li>
              <li><a><span class="icon-angle-double-right"></span>Ficha De Identificacion</a></li>
              <li><a><span class="icon-angle-double-right"></span>Actividades y Estatus</a></li>
            </ul>
          </li>
        </ol>
      </li>

      <li class="submenu2"> <a  class="negrita"><span class="icon-select"></span> Inscripciones<span class="caret icon-chevron-down"></span></a>
        <ol class="children">
          <li class="submenu2"><a class="sombreado">Seleccion de Materias<span class="caret icon-caret-down"></span></a>
            <ul class="children">
              <li><a><span class="icon-angle-double-right"></span>AGO - DIC</a></li>
              <li><a><span class="icon-angle-double-right"></span>Verano</a></li>
            </ul>
          </li>
          <li><a class="sombreado">PRE-FICHA de pago</a></li>
          <li><a class="sombreado">Horario de Reinscripción</a></li>
          <li><a class="sombreado">Grupos Cargados</a></li>
          <li><a class="sombreado">Extraescolares</a></li>
        </ol>
      </li>
      <li class="submenu2"> <a class="negrita"><span class="icon-server"></span> Evaluaciones Inscripciones<span class="caret icon-chevron-down"></span></a>
        <ol class="children">
          <li><a class="sombreado">Evaluacion Docente</a></li>
          <li><a class="sombreado">Auditoria de Servicio</a></li>
        </ol>
      </li>

      <li class="submenu2"><a class="cerrar"><span class="icon-times"></span> Cerrar Sesion</a></li>
    </ul>
  </nav>
</header>
