#tituloServicio{
    color: white;
	text-align: center;
	background: #70193F;
	font-size: 20px;
	border-radius: .25em;
}

#valor{
	text-align: center;
	font-weight: bold;
}

#coment{
	text-align: center;
}

button{
	background-color: #70193F; 
	border: #70193F
}

h2{
	color: #70193F;
}

