<section class="registro">
    	
  <div class="menu">
   <div class="contenedor">
       <div class="row">  
     <div class="meniu">
       <h3>Verifica el Curp</h3>
       <ul *ngFor="let alumno of alumno">
        
         <li class="submeniu" id="control">
           <p id="titulo">No.control</p>
           <p>{{alumno.numerodecontrol}}</p>
         </li>
         <li class="submeniu" id="control">
           <p id="titulo">Nombre</p>
           <p>{{alumno.nombre}}</p>
         </li>
         <li class="submeniu" id="control">
         <p id="titulo">	Semestre </p>
         <p>{{alumno.semestre}}</p>
       </li>
       <li class="submeniu" id="control">
         <p id="titulo">	Periodo Escolar </p>
         <p>{{alumno.periodoescolar}}</p>
       </li>
         <li class="submeniu" id="control">
           <p id="titulo">Prom.Acum. </p>
           <p>{{alumno.promacum}}</p>
         </li>
       
       </ul>
       <ul *ngFor="let carrera of carrera" >
         <li class="submeniu" id="control">
           <p id="titulo">Carrera </p>
           <p>{{carrera.carrera}}</p>
         </li>
           <li class="submeniu" id="control">
           <p id="titulo">Especialidad </p>
           <p>{{carrera.especialidad}}</p>
           </li>
         <li class="submeniu" id="control">
             <p id="titulo">CURP </p>
             <tr id="non">
                 <td >
                   <input name ="curp_alumno" type="text" id="curptext" size=""
                    maxlength="18" align="center" value="VEFM941118MDGNLR04"
                     onchange="javascript:this.value=this.value.toUpperCase();">
                 </td>
             </tr>
           </li>
           
           <li class="submeniu" id="control">
             <p id="titulo">PRONABES </p>
             <td>
                 <div align=""> 
                   <select name="beca" id="cajatexto">

                     <option value="S"> SI </option>
                     <option value="N" selected> No </option>
                   </select>
                   </div>
                 </td>
           </li>
       </ul>
       <ul>
         <li class="submeniu" id="control">
        

    <div align="center"> 
        <button boton="" class="boton" data-target="#ejemplo" data-toggle="ejemplo" type="button">  Actualizar </button>
       
        
      </div>

           
         </li>
       
       </ul>
     </div>
    
   </div>
   </div>
   
</div>
 
  
</section> 
