
*{

	margin:0;
	padding: 0;
	font-size: small;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	 box-sizing: border-box;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* CENTRAR LA CAJA Y DARLE 1000 PX */
.contenedor{
	width:1000px;
	background: #70193f;
	margin-right: 375;
	margin-left: 375;
	border: 300PX;
	
}

/* El hijo siempre lleva margin 0 y auto para centrarlo al div padre*/
.meniu{

margin: 0 auto;
width: 100%;
height: 40%;
background:white;

}
.meniu ul{
	justify-content: center;
	text-align: center;
  list-style: none;
  font-size: smaller;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	text-decoration: none;

}

.meniu ul li {
	padding: 5px;
	width: inherit;
  color: black;
  font-size: 100px;
  
}
.ngcontent-c2{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.submeniu ul li{
	width: 100%;
	background:white;

}
.submeniu #titulo
{
	background-color: #70193f;
	color: white;
  font-weight: bold;
  font-size: 12px;
  
}
#table th {
    background: #70193f;
    color: white;
    font-weight: bold;
}

@media (min-width:100px) {
	.contenedor{
	  width: 80%;
		min-width: 100%;
    max-width: 100%;
    height: 150px;
		background: white;
		font-size: 11px;

	
	}

	.meniu{

margin: 0 auto;
width: 100%;
height: 40%;
background:white;
font-size: 20px;

}
.boton{
  font-size: 12px;
  font-family: Arial, sans-serif,Helvetica;
  font-weight: bold;
  font-variant:small-caps;
  color: #FFFFFF;
  background: #70193F;
  border-color: #70193F;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 2px;
 }
 .boton:hover{
  color:#7CCFF7;
 }


}
h3{
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #70193f;
    text-align: center;
    color: white;
}

/* 

*/body{background:#f9f9f9;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}

table {
  width: 100%;
  border-collapse: collapse;
}


/* */

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #70193f;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;

  text-align: center;
}

@media all and (max-width:780px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    font-size:10px;
  }
  
  tr { margin-bottom: 10px}
  .menu p 
  {
    font-size: 1em;
  }
  .container
  {
    
    height: 10px;
    margin-top: 15px;
    
  }
  .container table {

  font-size: 11px;
  }
  p #p2
  {
    height: 11px;
  }
}

/* MENU*/
/* 100% algot de ventava uvh*/
.menu {
  background: white;
  width: 100%;
  height: 200px;
  top: 10px;
  transition: all 0.5s;
}

.boton{
  font-size: 12px;
  font-family: Arial, sans-serif,Helvetica;
  font-weight: bold;
  font-variant:small-caps;
  color: #FFFFFF;
  background: #70193F;
  border-color: #70193F;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 2px;
 }
 .boton:hover{
  color:#7CCFF7;
 }
 ._ngcontent-c1 {
   margin: 0;
   padding: 0;
   font-size: 10px;
   box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   background: #FFFFFF;
 }

/*probemmas con margin*/
.menu ul {
  background: white;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin: 0px -8px;
}
.menu li
{
  font-size: 25px;
}

.menu a {
  border: none;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 15px;
}

/*ayuda a jquery*/
.menu ul li:hover ul {
  display: none;
  position: static;
}

.menu ul li ul {
  display: none;
  width: 100%;
}

.menu ul li p {
  font-size: 11px;
  text-align: center;
}

.menu ul li a {
  color: black;
  border-left: 6px solid #6A1A3E;
  background-color: white;
}



.vertical {
  overflow: auto;
  white-space: nowrap;
}

/*alt 126 tllde selecciona menu*/
#menu-bar:checked~.menu {
  transform: translateX(0);
}

@media(min-width:720px) {

  .menu {
    width: 1000px;
    height: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .submenu {
    width: 100%;
    height: 100%;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .menu ul {
    display: flex;
  }

  .vertical {
    overflow: visible;
    white-space: normal;
  }
  .menu ul li p {
    font-size: 13px;
    text-align: center;
  }
  p 
  {
    height: 15px;
  }
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background:white;
  margin: 50px  ;
}







/* 98 para tener un alinieamiento
margin auto para centrar*/
.contenedor{
  width:98%;
  margin: auto;
  }
  /* Margin bottom para espaciar  */
  
  
  .prueba{
    padding: 20px;
  }
  