<section class="registro">
    	
  <div class="menu">
     
   <div class="contenedor">
       <div class="row">  
     <div class="meniu">
       <h3>Verifica el Curp</h3>
       <ul>
         <li class="submeniu" id="control">
           <p id="titulo">No.control s.e.p </p>
           <p>14041413</p>
         </li>
         <li class="submeniu" id="control">
           <p id="titulo">Nombre del Alumno </p>
           <p>VENEGAS FLORES MARIANA</p>
         </li>
         <li class="submeniu" id="control">
         <p id="titulo">	Semestre </p>
         <p>9</p>
       </li>
       <li class="submeniu" id="control">
         <p id="titulo">	Periodo Escolar </p>
         <p>AGOSTO-DICIEMBRE/2018</p>
       </li>
         <li class="submeniu" id="control">
           <p id="titulo">Prom.Acum. </p>
           <p>80.91</p>
         </li>
       
       </ul>
       <ul>
         <li class="submeniu" id="control">
           <p id="titulo">Carrera </p>
           <p>ING.TICS</p>
         </li>
           <li class="submeniu" id="control">
           <p id="titulo">Especialidad </p>
           <p>TECNOLOGÍAS WEB</p>
           </li>
         <li class="submeniu" id="control">
             <p id="titulo">CURP </p>
             <tr id="non">
                 <td >
                   <input name ="curp_alumno" type="text" id="_ngcontent-c1" size=""
                    maxlength="18" align="center" value="VEFM941118MDGNLR04"
                     onchange="javascript:this.value=this.value.toUpperCase();">
                 </td>
             </tr>
           </li>
           
           <li class="submeniu" id="control">
             <p id="titulo">Opcion para Beca PRONABES </p>
             <td>
                 <div align=""> 
                   <select name="beca" id="select4">

                     <option value="S"> SI </option>
                     <option value="N" selected> No </option>
                   </select>
                   </div>
                 </td>
           </li>
       </ul>
       <ul>
         <li class="submeniu" id="control">
        

    <div align="center"> 
        <button boton="" class="boton" data-target="#ejemplo" data-toggle="ejemplo" type="button">  Actualizar </button>
       
        
      </div>

           
         </li>
       
       </ul>
     </div>
    
   </div>
   </div>
   
</div>
 
  
</section> 
