.menuverificacionbeca  ul {
  background: white;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  margin: 0px auto;
  width: 70%;
}
@media(min-width:780px) {
  .menuverificacionbeca {
    width: 1000px;
    height: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .menuverificacionbeca ul {
    display: flex;
  }


  h2,
  .h2 {
    font-size: 2rem;
  }
}
.contenedorverificacionbeca {
  width: 800px;
  background: #70193f;
font-size: 9px;
  border: 200PX;
}

@media (min-width:100px) {
  .contenedorverificacionbeca {
    width: 70%;
    min-width: 100%;
    max-width: 100%;
    background: #70193f;
    font-size: 5px;
  }
  .menuverificacionbeca [_ngcontent-c2] ul[_ngcontent-c2] li[_ngcontent-c2] p[_ngcontent-c2] {
    font-size: 11px;
}
  .meniuverificacionbeca  {
    margin: 0 auto;
    width: 100%;
    height: 40%;
  
  }

  .meniuverificacionbeca  ul {
  
    margin: 0 auto;
    width: 100%;
    background: white;
   padding-left: 5px;
  }
}

h3 {
  display: block;
  font-size:20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #70193f;
  text-align: center;
  color: white;
}

.meniuverificacionbeca  {
  margin: 0 auto;
  width: 100%;
  height: 40%;
  background: white;
}

.meniuverificacionbeca  ul {
  
  justify-content: center;
  text-align: center;
  list-style: none;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
}
.cajatextoverificacionbeca  {
  -webkit-appearance: menulist;
  box-sizing: border-box;

  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  align-content: center;
  font-size: 10px;
}
.menuverificacionbeca [_ngcontent-c2] ul[_ngcontent-c2] {
  background: white;
  text-decoration: none;
  list-style: none;
  font-size: 9px;
  margin: 0px auto;
  width: 70%;
}
.botonverificacionbeca {
  font-size: 12px;
  font-family: Arial, sans-serif,Helvetica;
  font-weight: bold;
  font-variant:small-caps;
  color: #FFFFFF;
  background: #70193F;
  border-color: #70193F;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 2px;
 }
 
 .curptextverificacionbeca  {
   margin: 0;
   padding: 0;
   font-size: 10px;
   box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 }
.meniuverificacionbeca  ul li {
  padding: 1px;
  width: 33%;
  color: black;

}

.submeniuverificacionbeca  ul li {
  width: 100%;
  background: white;
  
}

.submeniuverificacionbeca  #titulo {
  background-color: #70193f;
  color: white;
  font-weight: bold;
}
