<div class="container">    
<div class="row" >
			<div class="panel-heading col-md-6 offset-md-3" id="fondogrupos1">
				<h3 class="panel-title" align="center">Consulta de Seguimiento</h3>
				<h6 align="center">Residencia AGO-DIC 18</h6>
			</div>
</div>			
<div class="row" >
	<div class="col-md-6 offset-md-3">
			<table class="table table-hover col-md-6 offset-md-3" id="dev-table" >
				<thead>
					<tr>
						<th>#</th>
						<th align="center">Datos del Alumno</th>
						<th>Seguimiento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td>Folio</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>No. De Control</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Carrera</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Seguimiento 1</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Seguimiento 2</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Seguimiento 3</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Seguimiento 4</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Nombre de Proyecto</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Empresa</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Asesor Interno</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Asesor Externo</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Dictamen</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Portada Anteproyecto </td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Reporte Final</td>
						<td>X</td>
					</tr>
					<tr>
						<td></td>
						<td>Revision Final</td>
						<td>X</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
