<body>
				<table>
  <thead>
    <tr>
	  <th colspan="4"><h5 align="center"> CONSULTA DE SEGUIMIENTO</h5>
		  <h6 align="center">Residencia Ago-Dic 2018</h6>
	  </th>
    </tr>
    
  </thead>
  <tbody>
	<tr>
			<td></td>
			<td><strong>FOLIO</strong></td>
			<td>IIN-20183-017</td>

	</tr>
	<tr>
			<td></td>
			<td><strong>NUMERO DE CONTROL</strong></td>
			<td>14041418</td>
			
		</tr>
		<tr>
			<td></td>
			<td><i><strong>NOMBRE DEL ALUMNO</strong></i></td>
			<td>KATE BONILLA</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>CARRERA</strong></td>
			<td>INGENIERIA INFORMATICA</td>
			
			
		</tr>
		<tr>
			<td></td>
			<td><strong>SEGUIMIENTO 1</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>SEGUIMIENTO 2</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>SEGUIMIENTO 3</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>NOMBRE DEL PROYECTO</strong></td>
			<td>SISTEMA DE ADMINISTRACION DE VISITAS A DIFERENTES DEPARTAMENTOS DE LA SECRETARIA DE EDUCACION ESTATAL Y FEDERAL</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>EMPRESA</strong></td>
			<td>SECRETARIA DE EDUCACION DEL ESTADO DE DURANGO (SEED)</td>
		</tr>
		<tr>
			<td></td>
			<td><strong>ASESOR INTERNO</strong></td>
			<td>HIGAREDA SOTO GUSTAVO</td>
		</tr>
		<tr>
			<td></td>
			<td><strong>ASESOR EXTERNO</strong></td>
			<td>ARMANDO LEONEL RAMIREZ NEVAREZ</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>DICTAMEN</strong></td>
			<td>ACEPTADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>PORTADA ANTEPROYECTO</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>ASESOR INTERNO</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
		<tr>
			<td></td>
			<td><strong>REPORTE FINAL</strong></td>
			<td>ENTREGADO</td>

		</tr>
		<tr>
			<td></td>
			<td><strong>REV. FINAL</strong></td>
			<td>ENTREGADO</td>
			
		</tr>
  </tbody>
</table>