

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

        <!-- Icon -->

    <div class="fadeIn first">
      <h5>Autentificación para acceso al sistema</h5>
    </div>

    <!-- Login Form -->
    <form>
    <div class="fadeIn first">
      <img src="/assets/img/users.png" id="icon" alt="User Icon" />
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
    <img src="/assets/img/lock.png" id="icon2" alt="can icon2">
   <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
    </div>
    
      
    
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="../Inicio/inicio.html">Acceso</a>
    </div>

  </div>
</div>