<body>
<!--Inicia modulo Para imprimir ficha-->
  <div class="container-fluid text-center ">
  <!--Inicia Contenido Para el Alumno-->
    <div class="row content">
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 text-left ">
      <!--inicia Contenido de despliegue de informacion-->
        
        <div class="accordionbox">
          <div>
            <input id="tab" name="myaccordion" type="checkbox" />
            <label for="tab"><strong>Lea cuidadosamente antes de proceder</strong></label>
            <div class="insidebox">
              <div class=" local panel-body">
                <li>1- Habilitar las ventanas emergentes de tu navegador</li>
                <li>2- Presiona el Icono de Continuar para poder Imprimir la Ficha de Depósito.</li>
                <li>3- Imprime y acude a cualquier sucursal de los siguintes Bancos: Scotiabank o Banamex donde podras realizar tu pagó.</li>
                <li>4- Es muy importante verificar su monto a pagar, Si existiera algún problema acude al Centro de Cómputo.</li>
              </div>
            </div>
          </div>
        </div>
      <!--Finaliza Contenido de despliegue de informacion-->
      <!--Inicia contenido de informacion para el alumno-->
        <div class="acomodo col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-primary " id="tablacontenedor" align="center">
        </div>
        <table class=" bod"  border="2" style="margin: 0 auto;" >
          <thead class="back">
            <tr>
              <th colspan="4">
                <h5 align="center"><strong>FICHA DE PAGO AGOSTO-DICIEMBRE/2018</strong></h5>
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th class="tab">Importe a pagar:</th>
              <td class="tab" bgcolor="#ccc"> <b><i>2450.00</i></b>.</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="tab">Semestre:</th>
              <td class="tab">9</td>
            </tr>
            <tr>
              <th class="tab">Número de control:</th>
              <td class="tab"><i>14041243</i></td>
            </tr>
            <tr>
              <th class="tab">Alumno:</th>
              <td class="tab">Alejandro Marrufo Quintana
              </td>
            </tr>
            <tr>
              <th class="tab">Carrera:</th>
              <td class="tab">Ingenieria en Sistemas Computacionales
              </td>
            </tr>
          </tbody>
        </table>
      <!--Finaliza contenido de informacion para el alumno-->
      </div>
    </div>
  <!--Finaliza Contenido Para el Alumno-->
  </div>
  <div class="acomodo padre">
  <!--Inicio Boton para mostrar ficha de pago-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Mostrar Ficha de pago
    </button>
  <!--Termina Boton para mostrar ficha de pago-->
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Inicia Modal Para la Impresion de ficha de pago-->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="padre acomodo"style="text-align: center; font-size: 30px;">INSTITUTO TECNOLOGICO DE DURANGO
        </div><!--Titulo para impresion-->
        <div class="padre">
          <div class="titulo acomodo col-lg-8 col-md-12 col-sm-12 col-xs-12 ">DEPARTAMENTO DE RECURSOS FINANCIEROS
          </div><!--Titulo para impresion-->
        </div> 
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--Inicia Tabla para mostrar informacion de pago-->
          


          <table  border="2" style="margin: 0 auto;">
          	 <thead class="back">
            <tr>
              <th colspan="4">
                <h5 align="center"><strong>FICHA DE DEPOSITO</strong></h5>
              </th>
            </tr>
          </thead>
            <tbody>
			
              <tr>
                <td><h2 class="stiltab"><strong>No. de Control:</strong></h2>
                </td>
                <td><h2 class="stiltab">14040428</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab"><strong> Nombre:</strong></h2></td>
               
                <td><h2 class="stiltab">Abrego Salmeron Ricardo</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab"><strong> Concepto:</strong></h2>
                </td>
                <td><h2 class="stiltab">INSCRIPCIÓN REINGRESO</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab"><strong> Monto a pagar:</strong></h2>
                </td>
                <td><h2 class="stiltab">2350.00</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab"><strong>Periodo</strong></h2>
                </td>
                <td><h2 class="stiltab">AGOSTO-DICIEMBRE/2018</h2>
                </td>
              </tr>
            </tbody>
          </table>
        <!--Termina Tabla para mostrar informacion de pago-->
        </div>
        


        <div class=" esp col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--Inicia Tabla para mostrar informacion para el banco-->
          
          <table border="2" style="margin: 0 auto;">
          	 <thead class="back">
            
              <th colspan="4">
                <h5 align="center"><strong>BANAMEX</strong></h5>
              </th>
            
          </thead>
            <tbody>
              <tr>
                <td><strong class="stiltab">Sucursal-Cuenta: </strong></td>
                <td class="stiltab">7000-7909274</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Referencia Alfanumerica:</strong></td>
                <td class="stiltab">N14040428</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Monto a pagar:</strong></td>
                <td class="stiltab">2350.00</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Fecha de Vencimiento:</strong></td>
                <td class="stiltab">31 de Diciembre de 2018</td>
              </tr>
            </tbody>
          </table>
        <!--Termina Tabla para mostrar informacion para el banco-->
        </div>
        <div class="acomodo padre">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar
          </button><!--Boton Para regresar a la principal-->
          <button class="btnprint">
            <span class="print icon-print " onclick="window.print()"></span>
          </button><!--Boton Para imprimir ficha-->
        </div>
        <div>Hora fecha y lugar de la impresion</div>
      </div>
    </div>
  <!-- Finaliza Modal Para la Impresion de ficha de pago-->
  </div>
<!--Inicia modulo Para imprimir ficha-->
</body>