.modal-dialog {
    max-width: 98%;
    margin: 10px auto;
}
.modal{
  background:#fff;
}
.btn-primary{
  background: #70193f;
  border-color: #000;
}

.esp{
  padding: 10px;
}

.tab1{
  border: 1px solid #000;



}
.inf{
  list-style:none;
  text-align:justify;
}
.stiltab{
  color: black;
  text-align: center;
  font-family: arial;
  font-size: 15px;
  margin: 5px;
}
.btnprint{
  padding-left: 0px;
  width: 45px;
  height: 41px;
  margin-left: 10px;
  padding-right: 0px;
}
.titulo{
  background-color: #70193F;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  color: white;   
}
.new{
  text-align: center;
  font-size: 20px;
  font-family: roboto, arial;
  margin: 5px;
}
.acomodo{
  padding-top: 10px;
  padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.padre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal{
  background-color: #70193F;
  padding: 15px 15px 15px 15px;
  
  margin-top: 15px;
}
.texto{
	font-family: arial;
	font-size: 15px;
  color: white;

}

.tab{
  color: #000;
}
#boton{
 background-color: #31384A;
 color: #fff;
 padding: 20px;
 border: none;
 width: 50%;
 width: 100%;
 font-family: monospace;
 font-weight: bolder;
 font-size: 2em;
}
#boton:hover{
 cursor:pointer;
}
/*empieza css de tabla que se despliega*/

/* ESTILO EL CONTENEDOR DE CONTENCIÓN DE ACORDIÓN */
.accordionbox{
  max-width: 1000px;
  margin: 10px auto 0px auto;
  z-index: 2;
  display: block;
}
  /* ESTILO LAS ETIQUETAS DE CHECKBOX */
.accordionbox label{
   font-family: 'PT Sans Narrow', sans-serif;
   padding: 10px;
   position: relative;
   display: block;
   cursor: pointer;
   color: white;
   font-size: 18px;
   background: #70193f;
   border-bottom: 2px solid #aaa;
   transition: all 0.3s ease;
}
  /* ESTILO LAS ETIQUETAS DE CHECKBOX EN HOVER */
.accordionbox label:hover{
   background: rgb(182, 182, 182);
   color: #111111;
}
  /* OCULTAR EL CUADRADO DE CHECKBOX HTML */
.accordionbox input{
   display: none;
}
  /* ESTILO LA CAJA DE CONTENIDO INICIAL */
.insidebox{
  height: 0px;
  padding: 0px 15px;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  color: #111111;
  background: #ffffff;
  overflow: hidden;
  transition: all 0.3s ease;
}
  /* ESTILO DE LA CAJA DE CONTENIDO DE DESECHO HECHO CLIC EN */
.accordionbox input:checked ~ .insidebox{
  height: 200px;
  overflow: scroll;
}
  /* MOSTRAR EL SIGNO + CUANDO LAS CAJAS SE CERRAN */
input[type=checkbox] + label::before {
  content: "+ ";
}
  /* MOSTRAR EL SIGNO - CUANDO SE ABREN LAS CAJAS */
input[type=checkbox]:checked + label::before {
  content: "– ";
}
.back{
  background:#70193f;
  color: #fff;


}
table{
  border-radius: .25rem;
}