<body>

  <!--desde aqui puedes copiar-->
  <div class="container-fluid text-center ">
    <div class="row content">
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 text-left ">
        
        <div class="principal col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <li class="texto panel-default " id="dropdown">
            <a class="alumno">Instrucciones:</a>
          </li>
        </div>

          <div class="accordionbox">

    

    <div>
      <input id="tab" name="myaccordion" type="checkbox" />
      <label for="tab">Lea cuidadosamente antes de proceder</label>
      <div class="insidebox">
        <div class=" local panel-body">
          <li>1- Habilitar las ventanas emergentes de tu navegador</li>
          <li>2- Presiona el Icono de Continuar para poder Imprimir la Ficha de Depósito.</li>
          <li>3- Imprime y acude a cualquier sucursal de los siguintes Bancos: Scotiabank o Banamex donde podras realizar tu pagó.</li>
          <li>4- Es muy importante verificar su monto a pagar, Si existiera algún problema acude al Centro de Cómputo.</li>
        </div>
      </div>
    </div>

    
  </div>
  
<!--desde aqui para arriba puedes copiar cambiar css    clases que debes usar texto2,bod,alumnos2,alumno principal-->

<!--Inicia contenido de informacion para el alumno-->
      <div class="acomodo col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-primary " id="tablacontenedor" align="center">
      
            </div>

        <table class=" bod"  border="2" style="margin: 0 auto;" >
      <thead class="back">
      <tr>
        <th colspan="4">
          <h5 align="center">FICHA DE PAGO
           AGOSTO-DICIEMBRE/2018</h5>
        
        </th>
      </tr>
    </thead>
          <thead>
            <tr>
              <th class="tab">Importe a pagar:</th>
              <td class="tab" bgcolor="#ccc"> <b><i>2450.00</i></b>.</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="tab">Semestre:</th>
              <td class="tab">9</td>
            </tr>
            <tr>
              <th class="tab">Número de control:</th>
              <td class="tab"><i>14041243</i></td>
            </tr>
            <tr>
              <th class="tab">Alumno:</th>
              <td class="tab">Alejandro Marrufo Quintana
              </td>
            </tr>
            <tr>
              <th class="tab">Carrera:</th>
              <td class="tab">Ingenieria en Sistemas Computacionales
              </td>
            </tr>
          </tbody>
        </table>
        
        
      </div>
<!--Finaliza contenido de informacion para el alumno-->
    </div>


  </div>
<!--Boton para mostrar ficha de pago-->
  <div class="acomodo padre">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Mostrar Ficha de pago
    </button>
  </div>







<!--Termina Boton para mostrar ficha de pago-->

<!-- Iniciar Modal Para la Impresion de ficha de pago-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="padre acomodo"style="text-align: center; font-size: 30px;">INSTITUTO TECNOLOGICO DE DURANGO</div>
        <div class="padre">
          <div class="titulo acomodo col-lg-8 col-md-12 col-sm-12 col-xs-12 ">DEPARTAMENTO DE RECURSOS FINANCIEROS
          </div>
        </div> 
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titulo acomodo">Ficha de Depósito</div>
          <table  border="2" style="margin: 0 auto;">
            <tbody>
              
              <tr>
                <td><h2 class="stiltab">No. de Control:</h2>
                </td>
                <td><h2 class="stiltab">14040428</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab">Nombre:</h2>
                </td>
                <td><h2 class="stiltab">ABREGO SALMERON RICARDO</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab">Concepto:</h2>
                </td>
                <td><h2 class="stiltab">Inscripción Reingreso</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab">Monto a pagar:</h2>
                </td>
                <td><h2 class="stiltab">2350.00</h2>
                </td>
              </tr>
              <tr>
                <td><h2 class="stiltab">Periodo:</h2>
                </td>
                <td><h2 class="stiltab">AGOSTO-DICIEMBRE/2018</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="titulo acomodo">BANAMEX</div>
          <table border="2" style="margin: 0 auto;">
            <tbody>
              <tr>
                <td><strong class="stiltab">Sucursal-Cuenta: </strong></td>
                <td class="stiltab">7000-7909274</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Referencia Alfanumerica:</strong></td>
                <td class="stiltab">N14040428</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Monto a pagar:</strong></td>
                <td class="stiltab">2350.00</td>
              </tr>
              <tr>
                <td><strong class="stiltab">Fecha de Vencimiento:</strong></td>
                <td class="stiltab">31 de Diciembre de 2018</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="acomodo padre">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
          <button class="btnprint">
            <span class="print icon-print " onclick="window.print()"></span>
          </button>
        </div>
        <div>Hora fecha y lugar de la impresion</div>
      </div>
    </div>
  </div>
</body>