.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

  }
  
tr #creditos
  {
      background: #70193f;
      color: white;
      text-align: right;
  }
tr #cr
{
    background: white;
}
  h2,
  .h2 {
    font-size: 1.2rem;
  }
  
  
  
  
  h3 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #70193f;
    text-align: center;
    color: white;
  }
  
  p {
    width: auto;
  }
  

  .card {
    
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
  }
  
  .leftmenutrigger {
    display: none
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  tr:nth-of-type(odd) {
    background: #eee;
  }
  
  th {
    background: #70193f;
    color: white;
    font-weight: bold;
  }
  
  td,
  th {
    padding: 6px;
    text-align: center;
  }
  
  @media all and (max-width:500px) {
  
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      font-size: 8px;
    }
  
    tr {
      margin-bottom: 10px
    }
  }
  
  
  #table th {
    background: #70193f;
    color: white;
    font-weight: bold;
  }
  
  p {
    width: auto;
  }
  
  tr:nth-of-type(odd) {
    background: #eee;
  }
  
  td,
  th {
    padding: 6px;
    text-align: center;
  }
  