h2{
  font-size: 20px;
}
.card {
    
  border-radius: 0;
  box-shadow: none;
  border: none;
}


.table tbody tr:nth-child(5) td:nth-child(1){
  text-align: right;
  
}



table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid black;
  border-radius: .25rem;
  empty-cells: HIDE;
  perspective: 1px;
  -webkit-border-radius: .25rem;
-moz-border-radius: .25rem;
}
table tr:last-child td:first-child {
border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
border-bottom-right-radius: 6px;
}
  


tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #70193f;
  color: white;
  font-weight: bold;
}



@media all and (max-width:500px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    font-size: 7px;
  }

  tr {
    margin-bottom: 10px
  }
  .card-body{
    padding: .1rem;
  }
  h2{
    font-size: 10px;
  }
}

#table th {
  background: #70193f;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}



tr:nth-of-type(odd) {
  background: #eee;
}

td,
th {
  padding: 4px;
  text-align: center;
}
