
        <div class="container">
          <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Horario</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Materia / Docente</th>
                    <th scope="col">Gpo</th>
                    <th scope="col">Cr</th>
                    <th scope="col">Lun</th>
                    <th scope="col">Mar</th>
                     <th scope="col">Mie</th>
                    <th scope="col">Jue</th>
                    <th scope="col">Vie</th>
                    <th scope="col">Sab</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let clase of clase">
                    <td>{{clase.materia}} / {{clase.docente}}</td>
                    <td>{{clase.gpo}}</td>
                    <td>{{clase.cr}}</td>
                    
                    <td>{{clase.lun}} <br> {{clase.salon}}</td>
                    <td>{{clase.mar}}<br>{{clase.salon2}}</td>
                    <td>{{clase.mie}}<br>{{clase.salon3}}</td>
                    <td>{{clase.jue}} <br>{{clase.salon4}}</td>
                    <td>{{clase.vie}} <br>{{clase.salon5}}</td>
                    <td>{{clase.sab}} <br>{{clase.salon6}}</td>
                  </tr>
                  <tr *ngFor="let clase1 of clase1">
                    <td>{{clase1.materia}} / {{clase1.docente}}</td>
                    <td>{{clase1.gpo}}</td>
                    <td>{{clase1.cr}}</td>
                    
                    <td>{{clase1.lun}} <br> {{clase1.salon}}</td>
                    <td>{{clase1.mar}}<br>{{clase1.salon2}}</td>
                    <td>{{clase1.mie}}<br>{{clase1.salon3}}</td>
                    <td>{{clase1.jue}} <br>{{clase1.salon4}}</td>
                    <td>{{clase1.vie}} <br>{{clase1.salon5}}</td>
                    <td>{{clase1.sab}} <br>{{clase1.salon6}}</td>
                  </tr>
                  <tr *ngFor="let clase2 of clase2">
                    <td>{{clase2.materia}} / {{clase2.docente}}</td>
                    <td>{{clase2.gpo}}</td>
                    <td>{{clase2.cr}}</td>
                    
                    <td>{{clase2.lun}} <br> {{clase2.salon}}</td>
                    <td>{{clase2.mar}}<br>{{clase2.salon2}}</td>
                    <td>{{clase2.mie}}<br>{{clase2.salon3}}</td>
                    <td>{{clase2.jue}} <br>{{clase2.salon4}}</td>
                    <td>{{clase2.vie}} <br>{{clase2.salon5}}</td>
                    <td>{{clase2.sab}} <br>{{clase2.salon6}}</td>
                  </tr>
                  <tr *ngFor="let clase3 of clase3">
                    <td>{{clase3.materia}} / {{clase3.docente}}</td>
                    <td>{{clase3.gpo}}</td>
                    <td>{{clase3.cr}}</td>
                    
                    <td>{{clase3.lun}} <br> {{clase3.salon}}</td>
                    <td>{{clase3.mar}}<br>{{clase3.salon2}}</td>
                    <td>{{clase3.mie}}<br>{{clase3.salon3}}</td>
                    <td>{{clase3.jue}} <br>{{clase3.salon4}}</td>
                    <td>{{clase3.vie}} <br>{{clase3.salon5}}</td>
                    <td>{{clase3.sab}} <br>{{clase3.salon6}}</td>
                  </tr>
                  <tr id="creditos">
                    <td colspan="2" id="creditos">Total de Créditos</td>
                    <td id="creditos1">16</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




      </div>
 