<section class="registrocalifexam">
<app-datos-tabla-alumno></app-datos-tabla-alumno>

    <div class="containercalifexam">
      <div class="rowcalifexam">
        <div class="colcalifexam">
          <div class="cardcalifexam">
            <div class="card-bodycalifexam">
              <h2>Calificaciones de Exámenes</h2>
              <table class="tablecalifexam">
                <thead>
                  <tr >
                    <th scope="col">Facilitador</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let examen1 of examen1">
                    <td>{{examen1.facilitador}}</td> <!-- facilitador-->
                    <td>{{examen1.materia}}</td><!-- Materia-->
                    <td>{{examen1.calificacion}}</td><!-- c alificacion-->
                    <td>{{examen1.tipo}}</td>
                  </tr>
                  <tr *ngFor="let examen2 of examen2">
                      <td>{{examen2.facilitador}}</td> <!-- facilitador-->
                      <td>{{examen2.materia}}</td><!-- Materia-->
                      <td>{{examen2.calificacion}}</td><!-- c alificacion-->
                      <td>{{examen2.tipo}}</td>
                    </tr>
                    <tr *ngFor="let examen3 of examen3">
                        <td>{{examen3.facilitador}}</td> <!-- facilitador-->
                        <td>{{examen3.materia}}</td><!-- Materia-->
                        <td>{{examen3.calificacion}}</td><!-- c alificacion-->
                        <td>{{examen3.tipo}}</td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
