<section class="registro">
<app-datos-tabla-alumno></app-datos-tabla-alumno>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Calificaciones de Exámenes</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Facilitador</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Juan Matador</td> <!-- facilitador-->
                    <td>Administración Gerencial</td><!-- Materia-->
                    <td>85.00</td><!-- calificacion-->
                    <td>Especial</td>
                  </tr>
                  <tr>
                    <td>Elena Ortega</td> <!-- facilitador-->
                    <td>Cálculo Integral</td><!-- Materia-->
                    <td>93.00</td><!-- calificacion-->
                    <td>Especial</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
