.containercalifexam {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  padding-top: 15px;
}



h2,
.h2 {
  font-size: 1.2rem;
}






.cardcalifexam {
  
  border-radius: 0;
  box-shadow: none;
  border: none;
}



.tablecalifexam {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid black;
  border-radius: .25rem;
  -moz-border-radius:.25rem;
  	-webkit-border-radius:.25rem;
}



th {
  background: #70193f;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  text-align: center;
}

@media all and (max-width:500px) {

  .tablecalifexam,
  thead,
  tbody,
  th,
  td,
  tr {
    font-size: 7px;
  }
  .card-bodycalifexam{
    padding: .5rem;
  }

  tr {
    margin-bottom: 10px
  }
  h2{
    font-size: 12px;
  }
}


#tablecalifexam th {
  background: #70193f;
  color: white;
  font-weight: bold;
}

p {
  width: auto;
}

tr:nth-of-type(odd) {
  background: #eee;
}

td,
th {
  padding: 6px;
  text-align: center;
}
