<section class="registro">

  <div class="menu">
    <div class="contenedor">
      <div class="meniu">
        <h3>Datos del Alumno</h3>
        <ul class="datos">
          <li class="submeniu" id="control">
            <p id="titulo">No. de Control S.E.P </p>
            <p>14041413</p>
          </li>
          <li class="submeniu">
            <p id="titulo">Nombre del Alumno</p>
            <p>Valenzuela Valdez Alma Teresa </p>
          </li>
          <li class="submeniu" id="control">
            <p id="titulo">Periodo Escolar </p>
            <p>Ago-Dic 2018</p>
          </li>
          <li class="submeniu">
            <p id="titulo">Promedio Aritmético</p>
            <p>100.00</p>
          </li>

        </ul>

        <ul>
          <li class="submeniu">
            <p id="titulo"> Carrera</p>
            <p>Ing. en Tecnologías de la Información y Comunicación</p>
          </li>
          <li class="submeniu">
            <p id="titulo"> Especialidad</p>
            <p>Tecnologías Web</p>
          </li>
          <li class="submeniu">
            <p id="titulo"> CURP</p>
            <p>VAVADGO961584282DD2D</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Exámenes Globales y/o Especiales</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Facilitador</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Juan Matador</td> <!-- facilitador-->
                    <td>Colorear 1</td><!-- Materia-->
                    <td>85.00</td><!-- calificacion-->
                    <td>Especial</td>
                  </tr>
                  <tr>
                    <td>Elena Ortega</td> <!-- facilitador-->
                    <td>Cálculo Integral</td><!-- Materia-->
                    <td>93.00</td><!-- calificacion-->
                    <td>Especial</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
