
<main>
  <section class="registro">

    <div class="menu">
      <div class="contenedor" align="center">
        <div class="meniu">
           <h3>DATOS DEL ALUMNO</h3>
             <ul>
            <li class="submeniu" id="control">
             <p id="titulo">NO.CONTROL </p>
            <p>14041413</p>
             </li>
            <li class="submeniu">
          <p id="titulo">NOMBRE ALUMNO</p>
          <p>VALENZUELA VALDEZ ALMA TERESA </p>
              </li>
             <li class="submeniu" id="control">
          <p id="titulo">Periodo esocolar </p>
          <p>14041413</p>
