

  <section class="registro">

    <div class="menu">
      <div class="contenedor" >
        <div class="meniu">
           <h3>DATOS DEL ALUMNO</h3>
                <ul>
                 <li class="submeniu" id="control">
                 <p id="titulo">NO.CONTROL </p>
                 <p>14041413</p>
                  </li>
                <li class="submeniu">
                 <p id="titulo">NOMBRE ALUMNO</p>
                 <p>VALENZUELA VALDEZ ALMA TERESA </p>
                 </li>
                <li class="submeniu" id="control">
                 <p id="titulo">PLAN DE ESTUDIOS  </p>
                 <p>ITIC-2010-225</p>
                 </li>
                 <li class="submeniu">
                 <p id="titulo">SEMESTRE</p>
                 <p>8</p>
                 </li>
        
                  </ul>
          
          <ul>
            <li class="submeniu">
            <p id="titulo"> CARRERA</p>
            <p>TECNOLOGIAS DE LA INFORMACIÓN Y LAS COMUNICACIONES</p>
          </li>
          <li class="submeniu">
            <p id="titulo"> ESPECIALIDAD</p>
            <p>TECNOLOGIAS WEB</p>
          </li>
          </ul>
        </div>
    </div>

</div>
    
 <div class="container">
        <table>
       
                <tr><th colspan="5">SEMESTRE 1</th> 
                     <td >AGO/DIC 2014</td>
                </tr>
            
        </table>
  <table>
    <thead>
        <tr><th>NO.</th>
            <th>MATERIA</th>
            <th>CREDITOS</th>
            <th>CALIFICACIÓN</th>
            <th>EVALUACIÓN</th>
        </tr>
    </thead>
    
    <tbody>
        <tr><th>1</th><td title="Materia">CALCULO DIFERENCIAL</td><td title="Creditos">5</td><td title="Calificación">99</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>2</th><td title="Materia">TALLER DE ETICA</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluacion">Ev.Ord.1ra</td></tr>
        <tr><th>3</th><td title="Materia">FUNDAMENTOS DE PROGRAMACION</td><td title="Creditos">5</td><td title="Calificación">89</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>4</th><td title="Materia">MATEMATICAS DISCRETAS</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>5</th><td title="Materia">FUNDAMENTOS DE INVESTIGACION</td><td title="Creditos">5</td><td title="Calificación">96</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        
    </tbody>
</table>
    <table>
       <thead>
        <tr><th>PROM. SEMESTRAL</th>
            
            <th>PROM.<br>ARITMETICO</th>
            <th>CREDITOS<br>CURSADOS</th>
            <th>PROMEDIO<br>CERTIFICADO</th>
            <th>CREDITOS<br>APROBADOS</th></tr>
       </thead>
    
        <tbody>
                <tr>
                      
        <tr *ngFor="let promedioSem of promedioSem"><th>{{promedioSem.promedioSem2}}</th>

            <td title="Promedio Aritmetico" *ngFor="let promedioAritmetico of promedioAritmetico" >
                {{promedioAritmetico.promedioAritmetico2}}</td>
            <td title="Creditos cursados" *ngFor="let creditosCursados of creditosCursados" >
                {{creditosCursados.creditosCursados}}</td>
            <td title="Promedio certificado">70.93</td>
            <td title="Creditos aprobados" *ngFor="let creditosAprobados of creditosAprobados" >
                {{creditosAprobados.creditosAprobados2}}</td></tr>
        
        
        
       </tbody>
    </table>
      
    <table>
             
            <tr><th colspan="5">SEMESTRE 2</th> 
                 <td >ENE/JUL 2015 </td>
            </tr>
        
    </table>
    
        <table>
          <thead>
              <tr><th>NO.</th>
                  <th>MATERIA</th>
                  <th>CREDITOS</th>
                  <th>CALIFICACIÓN</th>
                  <th>EVALUACIÓN</th>
              </tr>
          </thead>
          
          <tbody>
              <tr><th>1</th><td title="Materia">CALCULO INTEGRAL</td><td title="Creditos">5</td><td title="Calificación">99</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
              <tr><th>2</th><td title="Materia">PROGRAMACIÓN ORIENTADA A OBJETOS</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluacion">Ev.Ord.1ra</td></tr>
              <tr><th>3</th><td title="Materia">ADMINISTRACIÓN GERENCIAL</td><td title="Creditos">5</td><td title="Calificación">89</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
              <tr><th>4</th><td title="Materia">CONTABILIDAD</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
              <tr><th>5</th><td title="Materia">CIRCUITOS ELECTRICOS</td><td title="Creditos">5</td><td title="Calificación">96</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
              
          </tbody>
      </table>
          <table>
             <thead>
              <tr ><th>PROM. SEMESTRAL</th>
                  
                  <th>PROM.<br>ARITMETICO</th>
                  <th>CREDITOS<br>CURSADOS</th>
                  <th>PROMEDIO<br>CERTIFICADO</th>
                  <th>CREDITOS<br>APROBADOS</th></tr>
             </thead>
          
              <tbody>
              <tr *ngFor="let promedioSem of promedioSem"><th>{{promedioSem.promedioSem}}</th>
      
                  <td title="Promedio Aritmetico" *ngFor="let promedioAritmetico of promedioAritmetico" >
                      {{promedioAritmetico.promedioAritmetico}}</td>
                  <td title="Creditos cursados" *ngFor="let creditosCursados of creditosCursados">
                      {{creditosCursados.creditosCursados}}</td>
                  <td title="Promedio certificado">83.20</td>
                  <td title="Creditos aprobados" *ngFor="let creditosAprobados of creditosAprobados">
                      {{creditosAprobados.creditosAprobados}}</td>
                </tr>
              
              
              
             </tbody>
          </table>
            
             
   <tr class="foot">
        <td  colspan="7"> ESTE DOCUMENTO NO ES OFICIAL Y NO ES VALIDO, NO CONTIENE SELLOS NI FIRMAS OFICIALES DE LA INSTITUCION
      </td>
    </tr>
    
</div>


  
    
    </section>



