

  <section class="registro">

    <div class="menu">
      <div class="contenedor" >
        <div class="meniu">
           <h3>DATOS DEL ALUMNO</h3>
                <ul>
                 <li class="submeniu" id="control">
                 <p id="titulo">NO.CONTROL </p>
                 <p>14041413</p>
                  </li>
                <li class="submeniu">
                 <p id="titulo">NOMBRE ALUMNO</p>
                 <p>VALENZUELA VALDEZ ALMA TERESA </p>
                 </li>
                <li class="submeniu" id="control">
                 <p id="titulo">Periodo esocolar </p>
                 <p>14041413</p>
                 </li>
                 <li class="submeniu">
                 <p id="titulo">Periodo</p>
                 <p>AGO-DIC/2018</p>
                 </li>
        
                  </ul>
          
          <ul>
            <li class="submeniu">
            <p id="titulo"> CARRERA</p>
            <p>TECNOLOGIAS DE LA INFORMACIÓN Y LAS COMUNICACIONES</p>
          </li>
          <li class="submeniu">
            <p id="titulo"> ESPECIALIDAD</p>
            <p>TECNOLOGIAS WEB</p>
          </li>
          </ul>
         

    
  
 
  <table>
    <thead>
        <tr><th>NO.</th>
            <th>MATERIA</th>
            <th>CREDITOS</th>
            <th>CALIFICACIÓN</th>
            <th>EVALUACIÓN</th>
        </tr>
    </thead>
    
    <tbody>
        <tr><th>1</th><td title="Materia">CALCULO DIFERENCIAL</td><td title="Creditos">5</td><td title="Calificación">99</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>2</th><td title="Materia">TALLER DE ETICA</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluacion">Ev.Ord.1ra</td></tr>
        <tr><th>3</th><td title="Materia">FUNDAMENTOS DE PROGRAMACION</td><td title="Creditos">5</td><td title="Calificación">89</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>4</th><td title="Materia">MATEMATICAS DISCRETAS</td><td title="Creditos">4</td><td title="Calificación">90</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        <tr><th>5</th><td title="Materia">FUNDAMENTOS DE INVESTIGACION</td><td title="Creditos">5</td><td title="Calificación">96</td><td title="Evaluación">Ev.Ord.1ra</td></tr>
        
    </tbody>
</table>
    <table>
       <thead>
        <tr><th>PROM. SEMESTRAL</th>
            
            <th>PROM.<br>ARITMETICO</th>
            <th>CREDITOS<br>CURSADOS</th>
            <th>PROMEDIO<br>CERTIFICADO</th>
            <th>CREDITOS<br>APROBADOS</th></tr>
       </thead>
    
        <tbody>
        <tr><th>70.93</th>

            <td title="Promedio Aritmetico">68.93</td>
            <td title="Creditos cursados">26</td>
            <td title="Promedio certificado">70.93</td>
            <td title="Creditos aprobados">22</td></tr>
        
        
        
       </tbody>
       <tfoot>
            <tr><td colspan="5">SEMESTRE 1</td> 
                <td colspan="5">AGO/DIC 2014</td>
            </tr>
        </tfoot>
    </table>
   <tr>
        <td  class="foot" colspan="7" > <em>ESTE DOCUMENTO NO ES OFICIAL Y NO ES VALIDO, NO CONTIENE SELLOS NI FIRMAS OFICIALES DE LA INSTITUCION</em> <br /> 
      <br /><input type="button" class="boton" name="Button" value="Cerrar" onClick="javascript:window.location"> </td>
    </tr>
</div>
</div>
    </div>
    </section>



