
/* 
Generic Styling, for Desktops/Laptops 
*/body{background:#f9f9f9;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}

/* Responsive para mostrar datos de la tabla de materias*/

.containerkardex {
	width: 100%;
	margin: auto;
	}
	.info{
		padding-top: 15px;
		padding-bottom: 15px;
	}
.tablekardex {
	width: 100%;;
	margin:auto;
	border: none;
	background: white;
	border-spacing: 0;
	font-size: 1rem; line-height: 1rem;
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
	border: 1px solid black;

	}
	thead{
		border-color: white;
	}
/*======TFOOT======*/

tfoot td {
	border-top: solid 1px #eee;
	color: #70193F;
	}
/*======TBODY======*/
.footkardex {
 background: white;
 align-content: center;
}
tr {
	border-bottom: solid 1px #ccc;
	color:none;
	background: white;
	}
	th{
		border:white;
	}
tr * {
	padding: 5px 10px;
	text-align: center;
	}
tr:nth-child(even) {
	background-color: #ffffff;
	}
tr th {
	font-weight: bold;
	}
thead tr{
	background:white;
	
	}
thead th{
		color: white;
		text-align: center;
		background: #70193f;
		border-radius:calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0 ;
		
	}
	
	tbody td {
		text-align: center;
		background: white;
	}
	tbody th{
		text-align: center;
		background: white;
	}
	.foot td {
		align-content: center;
		padding-right: 40px;
	}
	button{
		text-align: center;
	}
@media only screen and (max-width: 780px){
	
	/*======GENERAL======*/
	HTML {
		font-size: 1rem;
		}
	
	.tablekardex, thead, tfoot, tbody, tr {
		display:block;
		}
	
	.tablekardex {
		position: relative;
		}
	/*table * {
		font: bold normal 36px/42px Arial, Helvetica, sans-serif;
		}*/
		
	/*======THEAD======*/
	
	thead tr th {
		display:none;
		}
	thead tr th:first-child {
		display: block;
		width: inherit; padding: 2% 5%;
		font-size: 1.5rem; line-height: 1.8rem;
		text-align: center;
		}
	/*======TFOOT======*/
	
	tfoot {
		position: absolute; bottom: 60px;
		width:inherit;
		}
	tfoot td, tfoot tr {
		display: block;
		padding: 0;
		border: 0;
		text-align: center;
		}
	/*======TBODY======*/
	
	tbody tr {
		position: relative;
		}
	tr * {
		padding: 10px 20px;
	}
	tbody th, tbody tr td:first-of-type {
		display: inline-block;
		width: 44%; padding: 1.2rem 4%;
		font-size: 1.2rem; line-height: 1.2rem;
		}
	tbody th {
		width: 30%;
		}
	tbody tr td:first-of-type {
		padding-right: 10%;
	}
	tr td, tr td:nth-of-type(1n+2) {
		display:block;
		}
	tbody .closed td {
		display: none;
		}
	tbody td:nth-of-type(1n+2):before {
		content: attr(title)": ";
		font-weight: bold;
		}
	tbody tr:after {
		content: "";
		position: absolute; right: 8px; top: 12px;
		width: 2rem; height: 2rem;
		opacity: 0.6;
		background: transparent  no-repeat center center; background-size: 2rem;
		cursor: pointer;
		}
	tr.closed:after{
		background: transparent  no-repeat center center; background-size: 2rem
		}
	td:nth-of-type(1n+2) {
		border-bottom: solid 1px #ccc;
		}
	
}