<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3>Haz terminado la evaluacion docente exitosamente.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="clr-guinda"><strong>{{fechaActual}}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-guinda" (click)="imprimirPagina()">IMPRIME COMPROBANTE</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a routerLink="/evaluacionDocente/introduccion">Volver a la introduccion</a>
    </div>
  </div>
</div>
