.row {
  margin: 42px 0;
}

.clr-guinda {
  color: #70193f;
}

h3
{
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;

}


.btn-guinda {
	color: #fff;
	background-color: #70193f;
	border-color: #70193f;
}

@media print {
  a, button {
    display: none;
  }
}
