<div class="container">

<!--=========Datos Alumno==========---------->
<app-datos-tabla-alumno></app-datos-tabla-alumno>
<!--=========Termina Datos Alumno==========---------->


  
<!--=========Comienza tabla de lista de actividades==========---------->  

  <ul *ngFor="let tutor of tutor">
    <h2 class="tuto">{{tutor.dato}} : {{tutor.nombre}}</h2>
    <li *ngFor="let actividad1 of actividad1">
      <div class="title">{{actividad1.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad2 of actividad2">
      <div class="title">{{actividad2.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad3 of actividad3">
      <div class="title">{{actividad3.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad4 of actividad4">
      <div class="title">{{actividad4.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad5 of actividad5">
      <div class="title">{{actividad5.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad6 of actividad6">
      <div class="title">{{actividad6.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad7 of actividad7">
      <div class="title">{{actividad7.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad8 of actividad8">
      <div class="title">{{actividad8.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad9 of actividad9">
      <div class="title">{{actividad9.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad10 of actividad10">
      <div class="title">{{actividad10.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad11 of actividad11">
      <div class="title">{{actividad11.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad12 of actividad12">
      <div class="title">{{actividad12.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad13 of actividad13">
      <div class="title">{{actividad13.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad14 of actividad14">
      <div class="title">{{actividad14.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad15 of actividad15">
      <div class="title">{{actividad15.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad16 of actividad16">
      <div class="title">{{actividad16.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad17 of actividad17">
      <div class="title">{{actividad17.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad18 of actividad18">
      <div class="title">{{actividad18.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad19 of actividad19">
      <div class="title">{{actividad19.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li *ngFor="let actividad20 of actividad20">
      <div class="title">{{actividad20.dato}}</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
  </ul>

  <!--=========Termina tabla de lista de actividades==========----------> 

  <!--=========Progress Bar que mostrara el porcentaje de actividades realizadas segun checbox marcados==========----------> 

  <div class="lab" *ngFor="let avance of avance">
    <h4>{{avance.dato}}</h4>
    <div class="progress-bar bg-info" id="progreso" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <label id="lblporcentaje">0%</label></div>
    <div class="ready"></div>
  </div>

<!--=========Termina Progress Bar==========----------> 
</div>
