<div class="container">
  <h2 class="tuto">Tutor: No Asignado</h2>
  <p class="alumno">Alumno: xxxxxxxxxxxxxxx</p>
  <p class="alumno">Matricula: xxxxxxxxxxxx</p> 
  <p class="alumno">Carrera: xxxxxxxxxxxxxx</p> 
  
  <ul>
    <li>
      <div class="title">Actividad 1</div><input type="checkbox" name="" disabled checked >Realizado
    </li>
    <li>
      <div class="title">Actividad 2</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li>
      <div class="title">Actividad 3</div><input type="checkbox" name="" disabled checked>Realizado
    </li>
    <li>
      <div class="title">Actividad 4</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 5</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 6</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 7</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 8</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 9</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad10</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad11</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 12</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 13</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 14</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 15</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad 16</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad17</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad18</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad19</div><input type="checkbox" name="" disabled>Realizado
    </li>
    <li>
      <div class="title">Actividad20</div><input type="checkbox" name="" disabled>Realizado
    </li>
  </ul>
  <div class="lab">
    <h4>Avance de actividades</h4>
      <div class="progress-bar bg-info" id="progreso" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <label id="lblporcentaje">0%</label></div>

    <div class="ready"></div>
  </div>
</div>
