/*Propiedades del contenedor*/
.container {
    max-width: 90%;
    overflow: hidden;
    background: white;
    margin: 20px auto;
    padding: 0px; 
}

/*Propiedades de los ul de la tabla de actividades*/
.container ul {
    padding: 0px;
    margin: auto;
    

}

/*Propiedades que se aplicaran a la tabla de actividades cuando se coloque el puntero sobre ellos*/
.container ul li:hover {
    opacity: 0.9;
}
.container ul li .title:hover {
    background: #597EAA;
    color: white;
}

/*Propiedades del contenedor que seran aplicados a los ul e il de la tabla de actividades*/
.container ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 100px;
    background: white;
    margin: auto;
    box-sizing:border-box;
    border: 2px solid white;
    text-align: center;

}

/*Propiedades del contenedor que seran aplicados a los titulos de los ul e il de la tabla de actividades*/
.container ul li .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #70193F;
    text-align: center;
    color: white;
}

/*Propiedades que se aplicaran al nombre del tutor*/
.tuto{
    text-align: center;
    color: #70193F;
    font-weight: bold;
    
}

/*Propiedades que se aplicaran al a la etiqueta de avnce de actividades*/
.lab{
    text-align: center;
    color: #black; 
    font-weight: bold;
}

/*Propiedades resposive*/
@media screen and (max-width: 1250px){
    .container ul li {
        width: 40%;
        margin-left: 50px;
    }
}
@media screen and (max-width: 750px){
    .container {
        width: 100%;
        padding: 0px;   
    }

    .container ul li {
        float: none;
        width: 90%;
        margin: auto;
    }
}

/*Propiedades que se aplicaran a los checkbox*/
input[type="checkbox"] { 
    
  height: 15px; 
  width: 15px; 
  margin-right: auto;
}   







