
<!--============links de la segunda tabla que despliega==========-->
<!--========https://bootsnipp.com/snippets/GqxGl=========-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


  <body>   
	<!--===============empieza tabla de horario==============-->
	<div class="container">    
    	<div class="row" >
			<div class="row col-md-10 col-md-push-4" >
				<div class="panel panel-primary" id="tablacontenedor">
					<div class="panel-heading" id="fondogrupos1">
						<h3 class="panel-title" align="center">Horario de Reinscripción AGOSTO-DICIEMBRE/2018</h3>
						<h6 align="center">ADEUDOS N=NO ADEUDO, S= SI ADEUDO</h6>
					</div>
					
					<table class="table table-hover" id="dev-table" >
						<thead>
							<tr>
								<td>Nombre</td>
								<td>Alejandro Marrufo Quintana</td>
								<td>Biblioteca</td>
								<td>N</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Fecha</td>
								<td>18-Agosto-2018</td>
								<td>Escolares</td>
								<td>N</td>
							</tr>
							<tr>
								<td>Hora</td>
								<td><i>10:40AM</i></td>
								<td>Financieros</td>
								<td>N</td>
							</tr>
							<tr>
								<td>Autorizado</td>
								<td>S</td>
								<td>Encuesta</td>
								<td>N</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
    	</div>
		</div>
<!--============finaliza tabla horario=================-->


</body>
