<table>
  <thead>
    <tr>
	  <th colspan="4"><h5 align="center">Horario de Reinscripción AGOSTO-DICIEMBRE/2018</h5>
		  <h6 align="center">ADEUDOS N=NO ADEUDO, S= SI ADEUDO</h6>
	  </th>
    </tr>
    
  </thead>
  <tbody>
	<tr>
			<td>Nombre</td>
			<td>Alejandro Marrufo Quintana</td>
			<td>Biblioteca</td>
			<td>N</td>
	</tr>
	<tr>
			<td>Fecha</td>
			<td>18-Agosto-2018</td>
			<td>Escolares</td>
			<td>N</td>
		</tr>
		<tr>
			<td>Hora</td>
			<td><i>10:40AM</i></td>
			<td>Financieros</td>
			<td>N</td>
		</tr>
		<tr>
			<td>Autorizado</td>
			<td>S</td>
			<td>Encuesta</td>
			<td>N</td>
		</tr>
  </tbody>
</table>