 <div class="gruposCargados">

  <div class="semestres">
    <button class="todasmaterias pestanas pest-activo" data-sem="0" >Todos Semestres</button>
    <button class="pestanas" data-sem="1">Semestre 1</button>
    <button class="pestanas" data-sem="2">Semestre 2</button>
    <button class="pestanas" data-sem="3">Semestre 3</button>
    <button class="pestanas" data-sem="4">Semestre 4</button>
    <button class="pestanas" data-sem="5">Semestre 5</button>
    <button class="pestanas" data-sem="6">Semestre 6</button>
    <button class="pestanas" data-sem="7">Semestre 7</button>
    <button class="pestanas" data-sem="8">Semestre 8</button>
    <button class="pestanas" data-sem="9">Semestre 9</button>
   

  </div>
    <div class="vertical">
        <div class="container" >

            <div class="row" >
        			<div class="col-md-12">
        				<div class="panel panel-primary"  id="tablacontenedor">
        					<div class="panel-heading" id="jj">
                    			<h3 class="panel-title" id=redo; >GRUPOS AL PERIODO AGOSTO-DICIEMBRE/2018</h3>
                      			<h5 class="panel-title"><span data-toggle="tooltip" title="Toggle table filter" data-container="body">BUSCAR</span></h5>
        					</div>
        					<div class="panel-body">
        						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Buscar">
        					</div>

        					<table class="table table-hover" id="dev-table" >
        						<thead>
        							 <tr *ngFor="let titulo of titulo">
                                        <th id="e1" width="75" class="small_negrita_center">{{titulo.tdato}}</th>
                                        <th id="e2" width="200" class="small_negrita_center">{{titulo.tmateria}}</th>
                                        <th id="e3" width="80" class="small_negrita_center">{{titulo.tlunes}}</th>
                                        <th id="e4" width="80" class="small_negrita_center">{{titulo.tmartes}}</th>
                                        <th id="e5" width="83" class="small_negrita_center">{{titulo.tmiercoles}}</th>
                                        <th id="e6" width="80" class="small_negrita_center">{{titulo.tjueves}}</th>
                                        <th id="e7" width="80" class="small_negrita_center">{{titulo.tviernes}}</th>
                                        <th id="e8" width="80" class="small_negrita_center">{{titulo.tsabado}}</th>
                                    </tr>
        						</thead>
        					

        					<div id="semestre1" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							
        								<tr *ngFor="let sem1 of sem1">
                                            <td width="75" >{{sem1.dato}}</td>
                                            <td width="200">{{sem1.materia}}</td>
                                            <td width="80" >{{sem1.lunes}}</td>
                                            <td width="80" >{{sem1.martes}}</td>
                                            <td width="83" >{{sem1.miercoles}}</td>
                                            <td width="80" >{{sem1.jueves}}</td>
                                            <td width="80" >{{sem1.viernes}}</td>
                                            <td width="80" >{{sem1.sabado}}</td>
                                        </tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre2" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem2 of sem2">
                                        <td width="75" >{{sem2.dato}}</td>
                                        <td width="200">{{sem2.materia}}</td>
                                        <td width="80" >{{sem2.lunes}}</td>
                                        <td width="80" >{{sem2.martes}}</td>
                                        <td width="83" >{{sem2.miercoles}}</td>
                                        <td width="80" >{{sem2.jueves}}</td>
                                        <td width="80" >{{sem2.viernes}}</td>
                                        <td width="80" >{{sem2.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>        					
        						

        					<div id="semestre3" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem3 of sem3">
                                        <td width="75" >{{sem3.dato}}</td>
                                        <td width="200">{{sem3.materia}}</td>
                                        <td width="80" >{{sem3.lunes}}</td>
                                        <td width="80" >{{sem3.martes}}</td>
                                        <td width="83" >{{sem3.miercoles}}</td>
                                        <td width="80" >{{sem3.jueves}}</td>
                                        <td width="80" >{{sem3.viernes}}</td>
                                        <td width="80" >{{sem3.sabado}}</td>
                                    </tr>
                  				</tbody>
                  				</table>
        					</div>           



        					<div id="semestre4" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem4 of sem4">
                                        <td width="75" >{{sem4.dato}}</td>
                                        <td width="200">{{sem4.materia}}</td>
                                        <td width="80" >{{sem4.lunes}}</td>
                                        <td width="80" >{{sem4.martes}}</td>
                                        <td width="83" >{{sem4.miercoles}}</td>
                                        <td width="80" >{{sem4.jueves}}</td>
                                        <td width="80" >{{sem4.viernes}}</td>
                                        <td width="80" >{{sem4.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>



        					<div id="semestre5" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem5 of sem5">
                                        <td width="75" >{{sem5.dato}}</td>
                                        <td width="200">{{sem5.materia}}</td>
                                        <td width="80" >{{sem5.lunes}}</td>
                                        <td width="80" >{{sem5.martes}}</td>
                                        <td width="83" >{{sem5.miercoles}}</td>
                                        <td width="80" >{{sem5.jueves}}</td>
                                        <td width="80" >{{sem5.viernes}}</td>
                                        <td width="80" >{{sem5.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        					<div id="semestre6" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem6 of sem6">
                                        <td width="75" >{{sem6.dato}}</td>
                                        <td width="200">{{sem6.materia}}</td>
                                        <td width="80" >{{sem6.lunes}}</td>
                                        <td width="80" >{{sem6.martes}}</td>
                                        <td width="83" >{{sem6.miercoles}}</td>
                                        <td width="80" >{{sem6.jueves}}</td>
                                        <td width="80" >{{sem6.viernes}}</td>
                                        <td width="80" >{{sem6.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre7" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem7 of sem7">
                                        <td width="75" >{{sem7.dato}}</td>
                                        <td width="200">{{sem7.materia}}</td>
                                        <td width="80" >{{sem7.lunes}}</td>
                                        <td width="80" >{{sem7.martes}}</td>
                                        <td width="83" >{{sem7.miercoles}}</td>
                                        <td width="80" >{{sem7.jueves}}</td>
                                        <td width="80" >{{sem7.viernes}}</td>
                                        <td width="80" >{{sem7.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre8" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem8 of sem8">
                                        <td width="75" >{{sem8.dato}}</td>
                                        <td width="200">{{sem8.materia}}</td>
                                        <td width="80" >{{sem8.lunes}}</td>
                                        <td width="80" >{{sem8.martes}}</td>
                                        <td width="83" >{{sem8.miercoles}}</td>
                                        <td width="80" >{{sem8.jueves}}</td>
                                        <td width="80" >{{sem8.viernes}}</td>
                                        <td width="80" >{{sem8.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        					<div id="semestre9" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr *ngFor="let sem9 of sem9">
                                        <td width="75" >{{sem9.dato}}</td>
                                        <td width="200">{{sem9.materia}}</td>
                                        <td width="80" >{{sem9.lunes}}</td>
                                        <td width="80" >{{sem9.martes}}</td>
                                        <td width="83" >{{sem9.miercoles}}</td>
                                        <td width="80" >{{sem9.jueves}}</td>
                                        <td width="80" >{{sem9.viernes}}</td>
                                        <td width="80" >{{sem9.sabado}}</td>
                                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        			</table>
        			</div>
        		</div>
        </div>
     </div>
   </div>
</div>