 <div class="gruposCargados">
  <h2 id="tgc">Grupos Cargados</h2>
  <div class="semestres">

    <button class="todasmaterias">Todos Semestres</button>
    <button>Semestre 1</button>
    <button>Semestre 2</button>
    <button>Semestre 3</button>
    <button>Semestre 4</button>
    <button>Semestre 5</button>
    <button>Semestre 6</button>
    <button>Semestre 7</button>
    <button>Semestre 8</button>
    <button>Semestre 9</button>

  <h2>Sección selecionada "x"</h2>
  </div>
  <div class="vertical">
        <div class="container" >

            	<div class="row" >
        			<div class="col-md-12">
        				<div class="panel panel-primary"  id="tablacontenedor">
        					<div class="panel-heading">

                    <h3 class="panel-title">TODOS LOS GRUPOS AL PERIODO AGOSTO-DICIEMBRE/2018

                      </h3>
                      <h3 class="panel-title"><span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                          Presiona para buscar
                          <i class="caret icon-arrow"></i>
          							</span></h3>

        					</div>
        					<div class="panel-body">
        						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Buscar" />
        					</div>
        					<table class="table table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th id="e1" width="60" class="small_negrita_center"> Grupo </th>
        								<th id="e2" width="200" class="small_negrita_center"> Materia </th>
        								<th id="e3" width="80" class="small_negrita_center"> Semestre </th>
        								<th id="e4" width="80" class="small_negrita_center"> Lunes </th>
        								<th id="e5" width="80" class="small_negrita_center"> Martes </th>
        								<th id="e6" width="83" class="small_negrita_center"> Miercoles </th>
        								<th id="e7" width="80" class="small_negrita_center"> Jueves </th>
        								<th id="e8" width="80" class="small_negrita_center"> Viernes </th>
                                        <th id="e8" width="80" class="small_negrita_center"> Sabado </th>
        							</tr>
        						</thead>
        						<tbody>
        							<tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
        								<td class="small_center" > <p class="tmateria">MATEMATICAS</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
        								<td class="small_center"> 1 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        							</tr>
                      <tr>
                        <td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
                        <td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
                        <td class="small_center"> 1 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                      </tr>
                      <tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
        								<td class="small_center" > <p class="tmateria">ESTADISTICA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
        								<td class="small_center"> 1 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        							</tr>
                      <tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
        								<td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
        								<td class="small_center"> 1 </td>
        								<td class="small_center"> 16:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        							</tr>
                      <tr>
                        <td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
                        <td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
                        <td class="small_center"> 1 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                      </tr>

                      <tr>
                        <td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
                        <td class="small_center" > <p class="tmateria">CIENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
                        <td class="small_center"> 1 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                      </tr>

                      <tr>
                        <td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
                        <td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
                        <td class="small_center"> 1 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
                      </tr>

        						</tbody>
        					</table>
        				</div>
        			</div>
        		</div>
        </div>

      </div>
  </div>