 <div class="gruposCargados">

  <h2 id="tgc">Grupos Cargados</h2>

  <div class="semestres">
    <button class="todasmaterias pestanas pest-activo" data-sem="0" >Todos Semestres</button>
    <button class="pestanas" data-sem="1">Semestre 1</button>
    <button class="pestanas" data-sem="2">Semestre 2</button>
    <button class="pestanas" data-sem="3">Semestre 3</button>
    <button class="pestanas" data-sem="4">Semestre 4</button>
    <button class="pestanas" data-sem="5">Semestre 5</button>
    <button class="pestanas" data-sem="6">Semestre 6</button>
    <button class="pestanas" data-sem="7">Semestre 7</button>
    <button class="pestanas" data-sem="8">Semestre 8</button>
    <button class="pestanas" data-sem="9">Semestre 9</button>
   


            <div id="st" class="nomsemestre">
                <h2>Todas</h2>                                      
            </div>

            <div id="s1" class="nomsemestre">
                <h2>Semestre 1</h2>                       
            </div>

            <div id="s2" class="nomsemestre">
                <h2>Semestre 2</h2>                       
            </div>

            <div id="s3" class="nomsemestre">
                <h2>Semestre 3</h2>                       
            </div>

            <div id="s4" class="nomsemestre">
                <h2>Semestre 4</h2>                       
            </div>

            <div id="s5" class="nomsemestre">
                <h2>Semestre 5</h2>                       
            </div>

            <div id="s6" class="nomsemestre">
                <h2>Semestre 6</h2>                       
            </div>

            <div id="s7" class="nomsemestre">
                <h2>Semestre 7</h2>                       
            </div>

            <div id="s8" class="nomsemestre">
                <h2>Semestre 8</h2>                       
            </div>

            <div id="s9" class="nomsemestre">
                <h2>Semestre 9</h2>                       
            </div>







  </div>
    <div class="vertical">
        <div class="container" >

            <div class="row" >
        			<div class="col-md-12">
        				<div class="panel panel-primary"  id="tablacontenedor">
        					<div class="panel-heading" id="jj">
                    			<h3 class="panel-title" id=redo; >TODOS LOS GRUPOS AL PERIODO AGOSTO-DICIEMBRE/2018</h3>
                      			<h5 class="panel-title"><span data-toggle="tooltip" title="Toggle table filter" data-container="body">BUSCAR   <i class="icon icon-search"></i>
                                </span></h5>
        					</div>
        					<div class="panel-body">
        						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Buscar">
        					</div>

        					<table class="table table-hover" id="dev-table" >
        						<thead>
        							<tr >
        								<th id="e1" width="75" class="small_negrita_center"> Sem/Gpo </th>
        								<th id="e2" width="200" class="small_negrita_center"> Materia </th>
        								<th id="e4" width="80" class="small_negrita_center"> Lunes </th>
        								<th id="e5" width="80" class="small_negrita_center"> Martes </th>
        								<th id="e6" width="83" class="small_negrita_center"> Miercoles </th>
        								<th id="e7" width="80" class="small_negrita_center"> Jueves </th>
        								<th id="e8" width="80" class="small_negrita_center"> Viernes </th>
                                        <th id="e8" width="80" class="small_negrita_center"> Sabado </th>
        							</tr>
        						</thead>
        					

        					<div id="semestre1" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
        								<td class="small_center" > <p class="tmateria">ESTADISTICA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td></td>
        							</tr>
                      				<tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 1M </p>  </td>
        								<td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>       								
        								<td class="small_center"> 16:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td></td>
        							</tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre2" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 2M </p>  </td>
        								<td class="small_center" > <p class="tmateria">ESTADISTICA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td></td>
        							</tr>
                      				<tr>
        								<td class="small_center" width="50" > <p class="tgrupo"> 2M </p>  </td>
        								<td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>       								
        								<td class="small_center"> 16:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td class="small_center"> 17:00 - 18:00<br>EE10 </td>
        								<td></td>
        							</tr>
                  				</tbody>
                  			</table>
        					</div>        					
        						

        					<div id="semestre3" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 3M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>
				                        
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  				</table>
        					</div>           



        					<div id="semestre4" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 4M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">CIENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                       
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>



        					<div id="semestre5" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 5M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">CALCULO DIFERENCIA</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                        
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        					<div id="semestre6" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 6M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">PROGRAMACION WEB</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                       
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre7" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 7M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">TALLER INVESTIGACION</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                       
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>


        					<div id="semestre8" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 8M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">ADMINISTRACION REDES</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                       
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        					<div id="semestre9" class="semestresdiv">
        						<table class="table table-hover" id="dev-table">
        						<tbody id="tablecontent">
        							<tr>
				                        <td class="small_center" width="50" > <p class="tgrupo"> 9M </p>  </td>
				                        <td class="small_center" > <p class="tmateria">INTELIGENCIA ART.</p> CO1001 <br> VILLARREAL REYES ELIZABETH SORAYA </td>                       
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td class="small_center"> 17:00 - 18:00<br>EE10 </td>
				                        <td></td>
				                    </tr>
                  				</tbody>
                  			</table>
        					</div>

        			</table>
        			</div>
        		</div>
        </div>
     </div>
    </div>
</div>