<p>
  datos-alumno works!
</p>
<div class="menu">
  <div class="contenedor" >
<div class="meniu">
  <h3>Datos del Alumno</h3>
  <ul>
    <li class="submeniu" id="control">
      <p id="titulo">No. Control </p>
      <p>14041413</p>
    </li>
    <li class="submeniu">
      <p id="titulo">Nombre </p>
      <p>Valenzuela Valdez Alma Teresa </p>
    </li>
    <li class="submeniu" id="control">
      <p id="titulo">Periodo Escolar </p>
      <p>Ago-Dic 2018</p>
    </li>
    <li class="submeniu">
      <p id="titulo">Promedio </p>
      <p>100.00</p>
    </li>
    
      </ul>
  
  <ul>
    <li class="submeniu">
        <p id="titulo"> Carrera</p>
        <p>Ing. en Tecnologías de la Información y Comunicación</p>
      </li>
      <li class="submeniu">
        <p id="titulo"> Especialidad</p>
        <p>Tecnologías Web</p>
      </li>
      <li class="submeniu">
        <p id="titulo"> CURP</p>
        <p>VAVADGO961584282DD2D</p>
      </li>
  </ul>
</div>
</div>
</div>

