
	<section class="registro">

      <div class="menu">
      	<div class="contenedor" >
			<div class="meniu">
				<h3>Datos del Alumno</h3>
				<ul>
					<li class="submeniu" id="control">
						<p id="titulo">No. Control </p>
						<p>14041413</p>
					</li>
					<li class="submeniu">
						<p id="titulo">Nombre </p>
						<p>Valenzuela Valdez Alma Teresa </p>
					</li>
					<li class="submeniu" id="control">
						<p id="titulo">Periodo Escolar </p>
						<p>Ago-Dic 2018</p>
					</li>
					<li class="submeniu">
						<p id="titulo">Promedio </p>
						<p>100.00</p>
					</li>
					
						</ul>
				
				<ul>
					<li class="submeniu">
							<p id="titulo"> Carrera</p>
							<p>Ing. en Tecnologías de la Información y Comunicación</p>
						</li>
						<li class="submeniu">
							<p id="titulo"> Especialidad</p>
							<p>Tecnologías Web</p>
						</li>
						<li class="submeniu">
							<p id="titulo"> CURP</p>
							<p>VAVADGO961584282DD2D</p>
						</li>
				</ul>
			</div>
    </div>
    </div>
	




        <div class="container">
          <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Horario</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Materia / Docente</th>
                    <th scope="col">Gpo</th>
                    <th scope="col">Lun</th>
                    <th scope="col">Mar</th>
                     <th scope="col">Mie</th>
                    <th scope="col">Jue</th>
                    <th scope="col">Vie</th>
                    <th scope="col">Sab</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cálculo Integral / Jane Doe</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Programación II / Juan Pacheco</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Estadística / Lorenzo Duarte</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Negocios Electrónicos / Cuauhtli Williams</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




      </div>
 
  </section>