
	<section class="registro">

      <div class="menu">
      	<div class="contenedor" >
			<div class="meniu">
				<h3>DATOS DEL ALUMNO</h3>
				<ul>
					<li class="submeniu" id="control">
						<p id="titulo">NO. CONTROL S.E.P </p>
						<p>14041413</p>
					</li>
					<li class="submeniu">
						<p id="titulo">NOMBRE DEL ALUMNO</p>
						<p>VALENZUELA VALDEZ ALMA TERESA </p>
					</li>
					<li class="submeniu" id="control">
						<p id="titulo">PERIODO ESCOLAR </p>
						<p>AGO-DIC 2018</p>
					</li>
					<li class="submeniu">
						<p id="titulo">PROMEDIO</p>
						<p>100.00</p>
					</li>
					
						</ul>
				
				<ul>
					<li class="submeniu">
							<p id="titulo"> CARRERA</p>
							<p>INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN</p>
						</li>
						<li class="submeniu">
							<p id="titulo"> ESPECIALIDAD</p>
							<p>TECNOLOGÍAS WEB</p>
						</li>
						<li class="submeniu">
							<p id="titulo"> CURP</p>
							<p>VAVADGO961584282DD2D</p>
						</li>
				</ul>
			</div>
    </div>
    </div>
		<p> </p>




        <div class="container">
          <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Horario</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">MATERIA / DOCENTE</th>
                    <th scope="col">GPO</th>
                    <th scope="col">LUN</th>
                    <th scope="col">MAR</th>
                     <th scope="col">MIE</th>
                    <th scope="col">JUE</th>
                    <th scope="col">VIE</th>
                    <th scope="col">SAB</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cálculo Integral / Jane Doe</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Programación II / Juan Pacheco</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Estadística / Lorenzo Duarte</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                  <tr>
                    <td>Negocios Electrónicos / Cuauhtli Williams</td>
                    <td>3TA</td>
                    
                    <td>7:00-8:00</td>
                    <td>8:00-9:00</td>
                    <td>9:00-10:00</td>
                    <td>10:00-11:00</td>
                    <td>11:00-12:00</td>
                    <td>12:00-13:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




      </div>
 
  </section>