<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1><span class="icon icon-list align-middle"></span> Modulos del SIIT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="inicio">Inicio</a></li>
        <li><a routerLink="datosEscolares">Datos Escolares</a></li>
        <li><a routerLink="verificacionBeca">Verificacion Beca</a></li>
        <li><a routerLink="kardexCalificaciones">Kardex Calificaciones</a></li>
        <li><a routerLink="horario">Horario</a></li>
        <li><a routerLink="calificacionesExamenes">Calificaciones Examenes</a></li>
        <li><a routerLink="calificacionesParciales">Calificaciones Parciales</a></li>
        <li><a routerLink="residencias">Residencias</a></li>
        <li><a routerLink="tutorias">Tutorias</a></li>
        <li><a routerLink="seleccionMaterias">Seleccion Materias</a></li>
        <li><a routerLink="prefichaPago">Preficha Pago</a></li>
        <li><a routerLink="horarioReinscripcion">Horario Reinscripcion</a></li>
        <li><a routerLink="gruposCargados">Grupos Cargados</a></li>
        <li><a routerLink="extraescolar">Extraescolar</a></li>
        <li><a routerLink="evaluacionDocente">Evaluacion Docente</a></li>
        <li><a routerLink="auditoriaServicio">Auditoria Servicio</a></li>
      </ul>
    </div>
  </div>
</div>
