.container{
    padding-top: 10px;
}

h4{
    font-size: 17px;
    color: #70193f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 90px;
    height: auto;
}
.slide-nav {
    height: 80px;
    background-color: #fff;
    position: relative;
    transform: translate3d(0,0,0);
    white-space: nowrap;
}

.slide-right , .slide-right2 {
    color: #70193f;
    width: 40px;
    height: 100%;
    cursor: pointer;
    /*border: 1px solid #fff;*/
    text-align: center;
    line-height: 100px;
    position: absolute;
    z-index: 101;
    top: 0;
    right: 2px;
    background-color: none;
}
.slide-center, .slide-center2 {
    display: block;
    width: 100%;
    /*border: 1px solid #fff;*/
    height: 150%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.slide-center.open{
    left: -50px;
}

.list-cat , .list-cat2 , .list-cat3{
    
    margin-right: 7px;
    white-space: nowrap;
    margin-left: 7px;
    height: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    user-select: none; 
}
.box-cat {
    
    /*border: 1px solid #ddd;*/
    width: 115px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    vertical-align: center;
    
}
.cat-preview {
    border: none;
    width: 110px;
    height: auto;
    margin: 0 auto;
    
    
}


.slide-left , .slide-left2{
    color: #70193f;
    width: 40px;
    height: 100%;
    cursor: pointer;
    /*border: 1px solid #fff;*/
    text-align: center;
    line-height: 100px;
    position: absolute;
    z-index: 101;
    top: 0;
    left: 2px;
    background-color: none;
}

@media screen 
  and (min-width: 1200px) {
      img{
          width: 150px;
          height: auto;
      }
      h4{
          font-size: 20px;
      }
      .container,.box-cat,.slide-center,.slide-center2,.list-cat,.list-cat2,.list-cat3{
          height: 180px;
      }
      .slide-left,.slide-left2,.slide-right,.slide-right2{
          line-height: 140px;
      }
      .box-cat{
          width: 189px;
      }
      .container{
          width: 1000px;
      }
  }
