<style type="text/css" id="slider-css"></style>
    <div class="spe-cor">
        <div class="container">
            <h4>Información Escolar</h4>
            <div class="row">
                <div id="slider-1" class="carousel carousel-by-item slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <a href="../datosescolares/datosescolares.html"><img class="d-block img-fluid" src="/assets/img/datosescolares.png" alt="First slide"></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <a href="../beca/beca.html"><img class="d-block img-fluid" src="/assets/img/verifdatosbeca.png" alt="First slide"></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <a href="../Kardex/kardex.html"><img class="d-block img-fluid" src="/assets/img/kardex.png" alt="First slide"></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <a href="../horario/horario.html"><img class="d-block img-fluid" src="/assets/img/horario.png" alt="Second slide"></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <img class="d-block img-fluid" src="/assets/img/califexam.png" alt="Third slide">
                        </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                    <img class="d-block img-fluid" src="/assets/img/califparciales.png" alt="Third slide">
                        </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                        <a href="../residencia/residencia.html"><img class="d-block img-fluid" src="/assets/img/residencia.png" alt="First slide"></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                        <a href="../tutorias/tutorias.html"> <img class="d-block img-fluid" src="/assets/img/tutorias.png" alt="First slide"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#slider-1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                            <a class="carousel-control-next" href="#slider-1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spe-cor">
                <div class="container">
                    <h4>Inscripciones</h4>
                    <div class="row">
                        <div id="slider-2" class="carousel carousel-by-item slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                        <a href="page.html"><img class="d-block img-fluid" src="/assets/img/solicitud.png" alt="First slide"></a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                        <a href="../SeleccionMateria/SeleccionMateria.html"><img class="d-block img-fluid" src="/assets/img/seleccion.png" alt="First slide"></a>
                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                            <a href="../prefichapago/prefichapago.html"><img class="d-block img-fluid" src="/assets/img/preficha.png" alt="First slide"></a>
                        </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                <a href="../horarioreinscripcion/horarioreinscripcion.html"><img class="d-block img-fluid" src="/assets/img/reinscripcion.png" alt="Second slide"></a>
                        </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                    <a href="../gruposCargados/gruposCargados.html">
                                <img class="d-block img-fluid" src="/assets/img/gruposcargados.png" alt="Third slide"></a>
                        </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                            <a href="../Extraescoalres/extraescolares.html">
                                                        <img class="d-block img-fluid" 
                                                        src="/assets/img/extraescolar.png" alt="Third slide"></a>
                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#slider-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                                                <a class="carousel-control-next" href="#slider-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                                <div class="container">
                                    <h4>Evaluaciones y contrato</h4>
                                   
                                        <div>
                                            
                                                <div class="carousel-item active">
                                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                        <a href="../EvaluacionDocente/EvaluacionDocente.html"><img class="d-block img-fluid" src="/assets/img/evaluacion.png" alt="First slide"></a>
                                                    </div>
                                                </div>
                                                <div class="carousel-item active">
                                                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                        <a href="../Auditoria_de_Servicio/Auditoria_de_Servicio.html"><img class="d-block img-fluid" src="/assets/img/auditoria.png" alt="First slide"></a>
                        </div>
                                                    </div>
                                                    <div class="carousel-item active">
                                                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                                            <img class="d-block img-fluid" src="/assets/img/contrato.png" alt="First slide">
                        </div>
                                                        
                                                    </div>
                                                    <a href="login.html"> <button class="btn">Cerrar Sesión</button>    </a>
                                                </div>
                                            
                                            <p></p>
                                           