<div class="container">
  <h4>Información Escolar</h4>
  <div class="slide-nav">

    <div class="slide-left">
      <span class="icon-chevron-left"></span>
    </div>
    <div class="slide-center">
      <div class="list-cat">
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/datosescolares.png" alt="" routerLink="/datosEscolares"></div>

        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/verifdatosbeca.png" alt="" routerLink="/verficicacionBeca"></div>

        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/kardex.png" alt="" routerLink="/kardexCalificaciones"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/horario.png" alt="" routerLink="/horario"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/califexam.png" alt="" routerLink="/calificacionesExamenes"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/califparciales.png" alt="" routerLink="/calificacionesParciales"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/residencia.png" alt="" routerLink="/residencias"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/tutorias.png" alt="" routerLink="/tutorias"></div>
        </div>

      </div>
    </div>
    <div class="slide-right">
      <span class="icon-chevron-right"></span>
    </div>

  </div>
</div>
<br>
<div class="container">
  <h4>Inscripciones</h4>
  <div class="slide-nav">

    <div class="slide-left2">
      <span class="icon-chevron-left"></span>
    </div>
    <div class="slide-center2">
      <div class="list-cat2">
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/solicitud.png" alt="" routerLink="/"></div>

        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/seleccion.png" alt="" routerLink="/seleccionMaterias"></div>

        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/preficha.png" alt="" routerLink="/prefichaPago"> </div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/reinscripcion.png" alt="" routerLink="/horarioReinscripcion"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/gruposcargados.png" alt="" routerLink="/gruposCargados"></div>
        </div>
        <div class="box-cat">
          <div class="cat-preview"><img src="/assets/img/inicio/extraescolar.png" alt="" routerLink="/extraescolar"></div>
        </div>


      </div>
    </div>
    <div class="slide-right2">
      <span class="icon-chevron-right"></span>
    </div>

  </div>
</div>
<br>
<div class="container">
  <h4>Evaluaciones y Contrato</h4>
  <div class="slide-nav">


    <div class="list-cat3">
      <div class="box-cat">
        <div class="cat-preview"><img src="/assets/img/inicio/evaluacion.png" alt="" routerLink="/evaluacionDocente"></div>

      </div>
      <div class="box-cat">
        <div class="cat-preview"><img src="/assets/img/inicio/auditoria.png" alt="" routerLink="/auditoriaServicio"></div>

      </div>
      <div class="box-cat">
        <div class="cat-preview"><img src="/assets/img/inicio/contrato.png" alt=""></div>
      </div>



    </div>
  </div>

</div>