img{
	width: 130px;
	height: 110px;
}

.slide-nav {
    height: 100px;
    background-color: #fff;
    position: relative;
}
.slide-right-outsize {
    color: #01c0c8;
    width: 40px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 75px;
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: #fff;
}
.slide-right {
    color: #01c0c8;
    width: 40px;
    height: 100%;
    cursor: pointer;
    /*border: 1px solid #fff;*/
    text-align: center;
    line-height: 75px;
    position: absolute;
    z-index: 101;
    top: 0;
    right: 40px;
    background-color: #fff;
}
.slide-center {
    display: block;
    width: 100%;
    /*border: 1px solid #fff;*/
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slide-center.open{
    left: -50px;
}

.list-cat {
    margin-right: 80px;
    white-space: nowrap;
    margin-left: 80px;
    height: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    user-select: none; 
}
.box-cat {
    margin-right: 10px;
    /*border: 1px solid #ddd;*/
    width: 125px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    font-size: 15px;
}
.cat-preview {
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: #01c0c8;
    border-radius: 0;
}
.box-cat > label {
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #01c0c8;
    word-break: break-all;
    white-space: normal;
}
.slide-left-outsize {
    color: #01c0c8;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
    background-color: #fff
}
.slide-left {
    color: #01c0c8;
    width: 40px;
    height: 100%;
    cursor: pointer;
    /*border: 1px solid #fff;*/
    text-align: center;
    line-height: 75px;
    position: absolute;
    z-index: 101;
    top: 0;
    left: 40px;
    background-color: #fff;
}