<div class="menu">
<ul>
  <li class="submenu">
    <h4 class="expspan">Presiona para ver codigo colores <span class="icon-angle-down"> </span></h4>
    <ul>
      <li>
        <div class="codcolores">

              <div class="codcolor" style="background: #A0D79E;"><p>Acreditada</p></div>
              <div class="codcolor" style="background: #77228E;"><p>Cursando</p></div>
              <div class="codcolor" style="background: #FFFF67;"><p>A curso especial</p></div>
              <div class="codcolor" style="background: #FE01CD;"><p>Curso especial reprobado</p></div>
              <div class="codcolor" style="background: #649A00;"><p>A examen especial</p></div>
              <div class="codcolor" style="background: #FE9901;"><p>Ex Especial reprobado</p></div>
              <div class="codcolor" style="background: #FE0000;"><p>Materia no perm hasta avance </p></div>
              <div class="codcolor" style="background: #0080C1;"><p>Cursada sin acreditar </p></div>
              <div class="codcolor" style="background: #CCCCCC;"><p>Materia posible cursar</p></div>
              <div class="codcolor" style="background: #FCCCC7;"><p>Materia posible cursar verano</p></div>
        </div>
     </li>
   </ul>
  </li>
</ul>
</div>
