<div class="menu">
<ul>
  <li class="submenu_12">
    <h4 class="expspan">Presiona para ver codigo colores <span class="icon-angle-down"> </span></h4>
    <ul>
      <li>
        <div class="codcolores">

              <div class="codcolor1 codcolor"><p>Acreditada</p></div>
              <div class="codcolor2 codcolor"><p>Cursando</p></div>
              <div class="codcolor3 codcolor"><p>Materia para Repeticion</p></div>
              <div class="codcolor4 codcolor"><p>A curso especial</p></div>
              <div class="codcolor5 codcolor"><p>Cur. esp. reprobado</p></div>
              <div class="codcolor6 codcolor"><p>A examen especial</p></div>
              <div class="codcolor7 codcolor"><p>Ex. esp. reprobado</p></div>
              <div class="codcolor8 codcolor"><p>Materia posible a seleccionar</p></div>
              <div class="codcolor9 codcolor"><p>Materia no permitida hasta avance</p></div>
              <div class="codcolor10 codcolor"><p>Materia verano</p></div>
        </div>
     </li>
   </ul>
  </li>
</ul>
</div>
