<!--=========empieza tabla de avisos==========---------->
<div class="accordionbox">

	<div style="text-align: center;">
		<h1> AUDITORIA DE SERVICIO </h1>
	</div>

   <div>
    <input id="tab" name="myaccordion" type="checkbox" />
    <label for="tab">Mensaje de bienvenida</label>
    <div class="insidebox">
				<div class="panel-body">
						<ul class="nav navbar-nav">
                Estimado Alumno:
                <br><br>
                <p>
                  En nuestro Instituto Tecnológico tenemos la misión y el firme compromiso de satisfacer plenamentetus necesidades y requerimientos en los servicios que ofrecemos, buscando mejorar permanentemente nuestro desempeño y servirte mejor.
                </p>
                <p>
                  Para lograr esto, lo mas valioso es su opinión, por lo que se solicita responder con sinceridad un breve cuestionario anexo, cuya respuesta sera la mejor ayuda para superarnos.
                </p>
                <p>
                  Se agradede tu atención a la presente y me reitero a tu disposición.
                </p>
                <p style="text-align: center; ">
                  ATENTAMENTE<br>
                  ING. JESUS ASTORGA PEREZ<br>
                  DIRECTOR DEL PLANTEL
                </p>
						 </ul>
				 </div>
		</div>
   </div>

    <div>
      <input id="tab-two" name="myaccordion" type="checkbox" />
      <label for="tab-two">Instrucciones</label>
      <div class="insidebox">
          <p>
              El cuestionario que se anexa consta de una serie de afirmaciones sobre el servicio que se ofrece en la Institución.<br>
              En cada una califique el grado de acuerdo o desacuerdo que tenga respecto a lo que se afirma.<br>
              1.- En la línea correspondiente se evaluará el DESEMPEÑO, así que anote la calificación que le asigne usted al servicio de que se trata, con base en la siguiente escala:<br>
            </p>
            <p style="padding-left: 50px; color: #70193F;">
              5. Totalmente de acuerdo<br>
              4. Parcialmente de acuerdo<br>
              3. Indiferente<br>
              2. Parcialmente en desacuerdo<br>
              1. Totalmente en desacuerdo<br>
            </p>
            <br>
            <p>
              2.- Si desea expresar algún comentario, sugerencia o recomendación utilice el espacio destinado para ello.
            </p>
            <p style="text-align: center;">
              Gracias
            </p>
      </div>
    </div>
	</div>
<!--=========empieza tabla de avisos==========--->

<div id="boton" style="text-align: center;">
    <button style="background-color: #70193F; border: #70193F;" class="btn btn-primary" routerLink="/centroInfo">
      Continuar
    </button> 
  </div>